@charset "UTF-8";
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

header, footer, main,
nav, section, article,
aside, details, figure,
figcaption, hgroup {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:focus,
a:hover,
a:active {
    outline: none;
}

ul,
ol,
dl {
    list-style: none;
    list-style-image: none;
}

blockquote,
q {
    quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}

button,
input,
textarea {
    outline: none;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

button,
input[type=button] {
    cursor: pointer;
}

@font-face {
    font-family: "Roboto";
    src: url("../../../assets/fonts/Roboto/Roboto-Light.woff") format("woff"), url("../../../assets/fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../../../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../../assets/fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../../../assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../../assets/fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../../../assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../../../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../../assets/fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../../../assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../../../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "font-icon";
    src: url("../../../assets/fonts/dist/font-icon.woff2") format("woff2"), url("../../../assets/fonts/dist/font-icon.woff") format("woff"), url("../../../assets/fonts/dist/font-icon.ttf") format("truetype");
}
.font-icon-sun:before, .font-icon-seo:before, .font-icon-pencil:before, .font-icon-night:before, .font-icon-mobile:before, .font-icon-leaf:before, .font-icon-key:before, .font-icon-display:before {
    font-family: "font-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.font-icon-display:before {
    content: "";
}

.font-icon-key:before {
    content: "";
}

.font-icon-leaf:before {
    content: "";
}

.font-icon-mobile:before {
    content: "";
}

.font-icon-night:before {
    content: "";
}

.font-icon-pencil:before {
    content: "";
}

.font-icon-seo:before {
    content: "";
}

.font-icon-sun:before {
    content: "";
}

.wrap::before, .clearfix::before, .wrap::after, .clearfix::after {
    content: "";
    display: table;
}
.wrap::after, .clearfix::after {
    clear: both;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex-center-xy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.cover-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.change-mode, .header.active, .box-shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

body {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    line-height: normal;
    letter-spacing: normal;
    background: #f5f5f5;
}

.wrap {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 80px 20px;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 1024px) {
    .wrap {
        padding: 60px 20px;
    }
}
@media only screen and (max-width: 767px) {
    .wrap {
        padding: 40px 20px;
    }
}

.container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.container--h-100vh,
.wrap--h-100vh {
    height: 100vh;
}
@media only screen and (max-width: 767px) {
    .container--h-100vh,
.wrap--h-100vh {
        min-height: 100vh;
        height: auto;
    }
}

.container--of-vb {
    overflow: visible;
}

.wrap--flex-aic {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.wrap--pd-40 {
    padding: 40px 20px;
}
@media only screen and (max-width: 767px) {
    .wrap--pd-40 {
        padding: 20px;
    }
}

.wrap--pd-50 {
    padding: 50px 20px;
}

.wrap--pd-60-0 {
    padding: 60px 0;
}
@media only screen and (max-width: 1024px) {
    .wrap--pd-60-0 {
        padding: 50px 10px;
    }
}
@media only screen and (max-width: 767px) {
    .wrap--pd-60-0 {
        padding: 30px 20px;
    }
}

.wrap--flex-sb-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.heading-box {
    position: relative;
    background-color: #007cc7;
    text-align: center;
}
.heading-box::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -17px;
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-top: 17px solid #007cc7;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.flex-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.flex-col__item {
    width: calc(33.33% - 40px);
    margin: 20px;
}
@media only screen and (max-width: 1024px) {
    .flex-col__item {
        width: calc(33.33% - 20px);
        margin: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .flex-col__item {
        width: 100%;
        margin: 10px 0;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto";
    font-weight: 500;
    color: #404040;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
}

h1,
.h1 {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 20px;
    text-transform: none;
}
@media only screen and (max-width: 1024px) {
    h1,
.h1 {
        font-size: 72px;
    }
}
@media only screen and (max-width: 767px) {
    h1,
.h1 {
        font-size: 60px;
    }
}

h2,
.h2 {
    font-size: 48px;
}

h3,
.h3 {
    font-size: 36px;
    letter-spacing: 1.8px;
}
@media only screen and (max-width: 767px) {
    h3,
.h3 {
        font-size: 24px;
    }
}

h4,
.h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
}
@media only screen and (max-width: 767px) {
    h4,
.h4 {
        font-size: 18px;
    }
}

h5,
.h5 {
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
}

h6,
.h6 {
    font-size: 12px;
    font-weight: 300;
    text-transform: none;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    line-height: 24px;
    text-align: left;
}

.icon {
    display: inline-block;
    font-size: 20px;
    color: #404040;
    line-height: normal;
}

button,
.btn {
    vertical-align: bottom;
    background-color: transparent;
    border: 0;
}

.btn {
    padding: 10px 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
    .btn {
        font-size: 12px;
    }
}

.btn__ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 1px;
    height: 1px;
    background-color: #fff;
    opacity: 0;
    border-radius: 50%;
    pointer-events: none;
}
.btn__ripple.active {
    -webkit-animation: ripple 0.3s linear;
            animation: ripple 0.3s linear;
}

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: scale(300);
                transform: scale(300);
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: scale(300);
                transform: scale(300);
        opacity: 0;
    }
}
.btn--blue {
    color: #fff;
    background-color: #007cc7;
}
@media only screen and (min-width: 1025px) {
    .no-touch .btn--blue:hover {
        background-color: #005c94;
    }
}

.btn--gray {
    color: #404040;
    background-color: #e8e8e8;
}
.btn--gray .btn__ripple {
    background-color: #404040;
}
@media only screen and (min-width: 1025px) {
    .no-touch .btn--gray:hover {
        background-color: #999;
    }
}

.home {
    width: 50%;
    margin-top: 120px;
    position: relative;
    z-index: 1;
}
@media only screen and (max-width: 767px) {
    .home {
        width: 100%;
        margin-top: 70px;
        text-align: center;
    }
}
@media only screen and (min-width: 568px) and (max-width: 959px) and (orientation: landscape) {
    .home {
        width: 100%;
        margin-top: 70px;
        text-align: center;
    }
}

.home__title {
    margin-bottom: 37px;
}
@media only screen and (max-width: 1024px) {
    .home__title {
        margin-bottom: 17px;
    }
}
@media only screen and (max-width: 767px) {
    .home__title {
        margin-bottom: 7px;
    }
}

.home__description {
    margin-bottom: 47px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}
.home__description > span {
    font-weight: 700;
}
@media only screen and (max-width: 1024px) {
    .home__description {
        margin-bottom: 27px;
        font-size: 16px;
        line-height: 26px;
    }
}
@media only screen and (max-width: 767px) {
    .home__description {
        margin-bottom: 17px;
        text-align: center;
    }
}
@media only screen and (min-width: 568px) and (max-width: 959px) and (orientation: landscape) {
    .home__description {
        text-align: center;
    }
}

.home__btn-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
@media only screen and (max-width: 767px) {
    .home__btn-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
@media only screen and (min-width: 568px) and (max-width: 959px) and (orientation: landscape) {
    .home__btn-wrap {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.home__btn {
    margin: 0 10px;
}
@media only screen and (max-width: 1024px) {
    .home__btn {
        margin: 0 5px;
    }
}
@media only screen and (max-width: 767px) {
    .home__btn {
        margin: 5px 0;
    }
}

.home__btn--contact {
    margin-left: 0;
}
@media only screen and (max-width: 767px) {
    .home__btn--contact {
        margin-top: 0;
    }
}

.home__btn--projects {
    margin-right: 0;
}
@media only screen and (max-width: 767px) {
    .home__btn--projects {
        margin-bottom: 0;
    }
}

.avatar {
    height: 850px;
    position: absolute;
    bottom: 0;
    right: 20px;
    pointer-events: none;
}
@media only screen and (max-width: 1024px) {
    .avatar {
        height: 700px;
    }
}
@media only screen and (max-width: 767px) {
    .avatar {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        height: 500px;
        opacity: 0.3;
    }
}
@media only screen and (min-width: 568px) and (max-width: 959px) and (orientation: landscape) {
    .avatar {
        display: none;
    }
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.header.active {
    background-color: #fff;
}
.header.active .wrap--pd-40 {
    padding: 20px;
}
@media only screen and (max-width: 767px) {
    .header.active .wrap--pd-40 {
        padding: 15px;
    }
}

.logo {
    margin-right: auto;
    display: inline-block;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
    .no-touch .logo:hover .logo__h4 > span {
        color: #007cc7;
        background-color: transparent;
    }
}

.logo__h4 {
    font-weight: 500;
    letter-spacing: normal;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.logo__h4 > span {
    margin-left: 5px;
    padding: 2px 7px;
    display: inline-block;
    color: #fff;
    background-color: #007cc7;
    border: 3px solid #007cc7;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.nav {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.nav.active {
    left: 0;
}
@media only screen and (max-width: 1024px) {
    .nav {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 21;
        overflow: auto;
        background-color: #fff;
    }
}

.nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
@media only screen and (max-width: 1024px) {
    .nav__list {
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

.nav__item {
    padding: 0 13px 0 15px;
}
@media only screen and (max-width: 1024px) {
    .nav__item {
        padding: 15px 0;
    }
}

.nav__link {
    position: relative;
    font-size: 16px;
    color: #404040;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.nav__link::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #007cc7;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
    .no-touch .nav__link:hover {
        color: #007cc7;
    }
    .no-touch .nav__link:hover::after {
        width: 50%;
    }
}
@media only screen and (max-width: 767px) {
    .nav__link {
        font-size: 14px;
    }
}

.change-mode {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    position: relative;
    border-radius: 50%;
}
@media only screen and (min-width: 1025px) {
    .no-touch .change-mode:hover .change-mode__icon {
        color: #007cc7;
    }
}
@media only screen and (max-width: 1024px) {
    .change-mode {
        margin-left: 0;
        margin-right: 20px;
    }
}

.change-mode__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: calc(50% + 2px);
    font-size: 18px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.change-mode__icon--night {
    display: none;
}
.change-mode__icon--night.active {
    display: block;
}

.change-mode__icon--sun {
    display: none;
}
.change-mode__icon--sun.active {
    display: block;
}

.menu {
    width: 25px;
    height: 20px;
    position: relative;
    z-index: 31;
}
@media only screen and (min-width: 1025px) {
    .menu {
        display: none;
    }
}

.menu__line {
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    background-color: #404040;
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.menu__line::before, .menu__line::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    background-color: #404040;
}
.menu__line::before {
    top: -10px;
    left: 0;
    -webkit-transition: top 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__line::after {
    bottom: -10px;
    right: 0;
    -webkit-transition: bottom 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__line.active {
    background-color: rgba(64, 64, 64, 0);
}
.menu__line.active::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__line.active::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
@media only screen and (max-width: 1024px) {
    .about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
}

.about-main {
    width: 50%;
    padding-right: 20px;
}
@media only screen and (max-width: 1024px) {
    .about-main {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
}

.about-main__title {
    margin-bottom: 54px;
}
@media only screen and (max-width: 1024px) {
    .about-main__title {
        margin-bottom: 34px;
    }
}
@media only screen and (max-width: 767px) {
    .about-main__title {
        margin-bottom: 24px;
    }
}

.about-main__description-wrap {
    margin-bottom: 46px;
}
@media only screen and (max-width: 1024px) {
    .about-main__description-wrap {
        margin-bottom: 26px;
    }
}
@media only screen and (max-width: 767px) {
    .about-main__description-wrap {
        margin-bottom: 16px;
    }
}

.about-main__description {
    margin-bottom: 40px;
}
@media only screen and (max-width: 1024px) {
    .about-main__description {
        max-width: 620px;
        margin: 0 auto 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    .about-main__description {
        max-width: 100%;
        margin-bottom: 10px;
    }
}

.about-bg {
    width: 50%;
    padding-left: 20px;
}
@media only screen and (max-width: 1024px) {
    .about-bg {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 0;
    }
}

.about-bg__img {
    width: 100%;
    display: block;
}
@media only screen and (max-width: 1024px) {
    .about-bg__img {
        width: auto;
        height: 400px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 767px) {
    .about-bg__img {
        width: 100%;
        height: auto;
    }
}

.services__title {
    color: #fff;
}

.services-cards__item {
    padding: 30px 30px 26px;
    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
    .no-touch .services-cards__item:hover {
        background-color: #007cc7;
    }
    .no-touch .services-cards__item:hover .services-cards__rectangle {
        border-color: #fff;
    }
    .no-touch .services-cards__item:hover .services-cards__icon,
.no-touch .services-cards__item:hover .services-cards__title,
.no-touch .services-cards__item:hover .services-cards__description {
        color: #fff;
    }
}
@media only screen and (max-width: 1024px) {
    .services-cards__item {
        padding: 20px 20px 16px;
    }
}

.services-cards__rectangle {
    width: 80px;
    height: 80px;
    margin: 0 auto 25px;
    position: relative;
    border: 2px solid #007cc7;
    border-radius: 50%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.services-cards__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: calc(50% + 4px);
    font-size: 30px;
    color: #007cc7;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.services-cards__title {
    margin-bottom: 22px;
    text-transform: capitalize;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.services-cards__description {
    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}