@charset "UTF-8";
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

header, footer, main,
nav, section, article,
aside, details, figure,
figcaption, hgroup {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:focus,
a:hover,
a:active {
    outline: none;
}

ul,
ol,
dl {
    list-style: none;
    list-style-image: none;
}

blockquote,
q {
    quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}

button,
input,
textarea {
    outline: none;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

button,
input[type=button] {
    cursor: pointer;
}

@font-face {
    font-family: "Roboto";
    src: url("../../../assets/fonts/Roboto/Roboto-Light.woff") format("woff"), url("../../../assets/fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../../../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../../assets/fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../../../assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../../assets/fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../../../assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../../../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../../assets/fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../../../assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../../../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "font-icon";
    src: url("../../../assets/fonts/dist/font-icon.woff2") format("woff2"), url("../../../assets/fonts/dist/font-icon.woff") format("woff"), url("../../../assets/fonts/dist/font-icon.ttf") format("truetype");
}
.font-icon-zoom-in:before, .font-icon-twitter:before, .font-icon-sun:before, .font-icon-seo:before, .font-icon-pencil:before, .font-icon-night:before, .font-icon-mobile:before, .font-icon-leaf:before, .font-icon-key:before, .font-icon-heart-filled:before, .font-icon-heart-empty:before, .font-icon-google:before, .font-icon-github:before, .font-icon-facebook:before, .font-icon-display:before {
    font-family: "font-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}

.font-icon-display:before {
    content: "";
}

.font-icon-facebook:before {
    content: "";
}

.font-icon-github:before {
    content: "";
}

.font-icon-google:before {
    content: "";
}

.font-icon-heart-empty:before {
    content: "";
}

.font-icon-heart-filled:before {
    content: "";
}

.font-icon-key:before {
    content: "";
}

.font-icon-leaf:before {
    content: "";
}

.font-icon-mobile:before {
    content: "";
}

.font-icon-night:before {
    content: "";
}

.font-icon-pencil:before {
    content: "";
}

.font-icon-seo:before {
    content: "";
}

.font-icon-sun:before {
    content: "";
}

.font-icon-twitter:before {
    content: "";
}

.font-icon-zoom-in:before {
    content: "";
}

.wrap::before, .clearfix::before, .wrap::after, .clearfix::after {
    content: "";
    display: table;
}
.wrap::after, .clearfix::after {
    clear: both;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex-center-xy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.cover-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.filter-cards__item, .skills-card, .change-mode, .header.active, .box-shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

body {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    line-height: normal;
    letter-spacing: normal;
    background: #f5f5f5;
}

.wrap {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 80px 20px;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 1024px) {
    .wrap {
        padding: 60px 20px;
    }
}
@media only screen and (max-width: 767px) {
    .wrap {
        padding: 40px 20px;
    }
}

.container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto";
    font-weight: 500;
    color: #404040;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
}

h1,
.h1 {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 20px;
    text-transform: none;
}
@media only screen and (max-width: 1024px) {
    h1,
.h1 {
        font-size: 72px;
    }
}
@media only screen and (max-width: 767px) {
    h1,
.h1 {
        font-size: 60px;
    }
}

h2,
.h2 {
    font-size: 48px;
}

h3,
.h3 {
    font-size: 36px;
    letter-spacing: 1.8px;
}
@media only screen and (max-width: 767px) {
    h3,
.h3 {
        font-size: 24px;
    }
}

h4,
.h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
}
@media only screen and (max-width: 767px) {
    h4,
.h4 {
        font-size: 18px;
    }
}

h5,
.h5 {
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
}

h6,
.h6 {
    font-size: 12px;
    font-weight: 300;
    text-transform: none;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    line-height: 24px;
    text-align: left;
}

.icon {
    display: inline-block;
    font-size: 20px;
    color: #404040;
    line-height: normal;
}

button,
.btn {
    font-family: "Roboto";
    vertical-align: bottom;
    background-color: transparent;
    border: 0;
}

.btn {
    padding: 10px 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border-radius: 50px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
    .btn {
        font-size: 12px;
    }
}

.btn__ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 1px;
    height: 1px;
    background-color: #fff;
    opacity: 0;
    border-radius: 50%;
    pointer-events: none;
}
.btn__ripple.active {
    -webkit-animation: ripple 0.3s linear;
            animation: ripple 0.3s linear;
}

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: scale(300);
                transform: scale(300);
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: scale(300);
                transform: scale(300);
        opacity: 0;
    }
}
.btn--blue {
    color: #fff;
    background-color: #007cc7;
}
@media only screen and (min-width: 1025px) {
    .no-touch .btn--blue:hover {
        background-color: #005c94;
    }
}

.btn--gray {
    color: #404040;
    background-color: #e8e8e8;
}
.btn--gray .btn__ripple {
    background-color: #404040;
}
@media only screen and (min-width: 1025px) {
    .no-touch .btn--gray:hover {
        background-color: #999;
    }
}

.container--height-100vh,
.wrap--height-100vh {
    height: 100vh;
}
@media only screen and (max-width: 767px) {
    .container--height-100vh,
.wrap--height-100vh {
        min-height: 100vh;
        height: auto;
    }
}

.container--bg-white {
    background-color: #fff;
}

.wrap--flex-center-y {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.wrap--flex-center-all {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.wrap--flex-sb-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

@media only screen and (max-width: 767px) {
    .wrap-db {
        display: block;
    }
}

.wrap--pd-40 {
    padding: 40px 20px;
}
@media only screen and (max-width: 767px) {
    .wrap--pd-40 {
        padding: 20px;
    }
}

.wrap--pd-50 {
    padding: 50px 20px;
}
@media only screen and (max-width: 1024px) {
    .wrap--pd-50 {
        padding: 40px 20px;
    }
}

.wrap--pd-60 {
    padding: 60px 20px;
}
@media only screen and (max-width: 1024px) {
    .wrap--pd-60 {
        padding: 50px 20px;
    }
}
@media only screen and (max-width: 767px) {
    .wrap--pd-60 {
        padding: 30px 20px;
    }
}

.wrap--pd-bottom-60 {
    padding-bottom: 60px;
}

.heading-main {
    margin-bottom: 80px;
    text-align: center;
}

.heading-main--mg-bottom {
    margin-bottom: 57px;
}
@media only screen and (max-width: 767px) {
    .heading-main--mg-bottom {
        margin-bottom: 37px;
    }
}

.heading-main__title {
    margin-bottom: 27px;
}
@media only screen and (max-width: 767px) {
    .heading-main__title {
        margin-bottom: 17px;
    }
}

.heading-main__description {
    max-width: 700px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.9px;
    line-height: 28px;
    text-align: center;
}
@media only screen and (max-width: 1024px) {
    .heading-main__description {
        font-size: 16px;
        line-height: 26px;
    }
}

.heading-sub {
    position: relative;
    background-color: #007cc7;
    text-align: center;
}
.heading-sub::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -17px;
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-top: 17px solid #007cc7;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.flex-col {
    width: calc(100% + 40px);
    margin-left: -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
@media only screen and (max-width: 1024px) {
    .flex-col {
        width: calc(100% + 20px);
        margin-left: -10px;
    }
}
@media only screen and (max-width: 767px) {
    .flex-col {
        width: 100%;
        margin-left: 0;
    }
}

.flex-col__item-33 {
    width: calc(33.33% - 40px);
    margin: 20px;
}
@media only screen and (max-width: 1024px) {
    .flex-col__item-33 {
        width: calc(33.33% - 20px);
        margin: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .flex-col__item-33 {
        width: 100%;
        margin: 10px 0;
    }
}

.flex-col__item-25 {
    width: calc(25% - 40px);
    margin: 20px;
}

.social__box {
    margin-left: -4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
@media only screen and (max-width: 767px) {
    .social__box {
        margin-left: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.social__link {
    margin-right: 19.5px;
    display: inline-block;
}
@media only screen and (min-width: 1025px) {
    .no-touch .social__link:hover .social__icon {
        color: #404040;
    }
}
@media only screen and (max-width: 767px) {
    .social__link {
        margin: 0 15px;
    }
}

.social__icon {
    color: #fff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.home {
    width: 50%;
    margin-top: 120px;
    position: relative;
    z-index: 1;
}
@media only screen and (max-width: 767px) {
    .home {
        width: 100%;
        margin-top: 70px;
        text-align: center;
    }
}
@media only screen and (min-width: 568px) and (max-width: 959px) and (orientation: landscape) {
    .home {
        width: 100%;
        margin-top: 70px;
        text-align: center;
    }
}

.home__title {
    margin-bottom: 37px;
}
@media only screen and (max-width: 1024px) {
    .home__title {
        margin-bottom: 17px;
    }
}
@media only screen and (max-width: 767px) {
    .home__title {
        margin-bottom: 7px;
    }
}

.home__description {
    margin-bottom: 47px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}
.home__description > span {
    font-weight: 700;
}
@media only screen and (max-width: 1024px) {
    .home__description {
        margin-bottom: 27px;
        font-size: 16px;
        line-height: 26px;
    }
}
@media only screen and (max-width: 767px) {
    .home__description {
        margin-bottom: 17px;
        text-align: center;
    }
}
@media only screen and (min-width: 568px) and (max-width: 959px) and (orientation: landscape) {
    .home__description {
        text-align: center;
    }
}

.home__btn-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
@media only screen and (max-width: 767px) {
    .home__btn-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
@media only screen and (min-width: 568px) and (max-width: 959px) and (orientation: landscape) {
    .home__btn-wrap {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.home__btn {
    margin: 0 10px;
}
@media only screen and (max-width: 1024px) {
    .home__btn {
        margin: 0 5px;
    }
}
@media only screen and (max-width: 767px) {
    .home__btn {
        margin: 5px 0;
    }
}

.home__btn--contact {
    margin-left: 0;
}
@media only screen and (max-width: 767px) {
    .home__btn--contact {
        margin-top: 0;
    }
}

.home__btn--projects {
    margin-right: 0;
}
@media only screen and (max-width: 767px) {
    .home__btn--projects {
        margin-bottom: 0;
    }
}

.home-avatar {
    height: 850px;
    position: absolute;
    bottom: 0;
    right: 20px;
    pointer-events: none;
}
@media only screen and (max-width: 1024px) {
    .home-avatar {
        height: 700px;
    }
}
@media only screen and (max-width: 767px) {
    .home-avatar {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        height: 500px;
        opacity: 0.3;
    }
}
@media only screen and (min-width: 568px) and (max-width: 959px) and (orientation: landscape) {
    .home-avatar {
        display: none;
    }
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.header.active {
    background-color: #fff;
}
.header.active .wrap--pd-40 {
    padding: 20px;
}

.logo {
    margin-right: auto;
    display: inline-block;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
    .no-touch .logo:hover .logo__h4 > span {
        color: #007cc7;
        background-color: transparent;
    }
}

.logo__h4 {
    font-weight: 500;
    letter-spacing: normal;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.logo__h4 > span {
    margin-left: 5px;
    padding: 2px 7px;
    display: inline-block;
    color: #fff;
    background-color: #007cc7;
    border: 3px solid #007cc7;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.nav {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.nav.active {
    left: 0;
}
@media only screen and (max-width: 1024px) {
    .nav {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 21;
        overflow: auto;
        background-color: #fff;
    }
}

.nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
@media only screen and (max-width: 1024px) {
    .nav__list {
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

.nav__item {
    padding: 0 13px 0 15px;
}
@media only screen and (max-width: 1024px) {
    .nav__item {
        padding: 15px 0;
    }
}

.nav__link {
    position: relative;
    font-size: 16px;
    color: #404040;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.nav__link::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #007cc7;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
    .no-touch .nav__link:hover {
        color: #007cc7;
    }
    .no-touch .nav__link:hover::after {
        width: 50%;
    }
}
@media only screen and (max-width: 767px) {
    .nav__link {
        font-size: 14px;
    }
}

.change-mode {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    position: relative;
    border-radius: 50%;
}
@media only screen and (min-width: 1025px) {
    .no-touch .change-mode:hover .change-mode__icon {
        color: #007cc7;
    }
}
@media only screen and (max-width: 1024px) {
    .change-mode {
        margin-left: 0;
        margin-right: 20px;
    }
}

.change-mode__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: calc(50% + 2px);
    font-size: 18px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.change-mode__icon--night {
    display: none;
}
.change-mode__icon--night.active {
    display: block;
}

.change-mode__icon--sun {
    display: none;
    top: calc(50% + 3px);
    left: calc(50% + 0.5px);
}
.change-mode__icon--sun.active {
    display: block;
}

.menu {
    width: 25px;
    height: 20px;
    position: relative;
    z-index: 31;
}
@media only screen and (min-width: 1025px) {
    .menu {
        display: none;
    }
}

.menu__line {
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    background-color: #404040;
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.menu__line::before, .menu__line::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    background-color: #404040;
}
.menu__line::before {
    top: -10px;
    left: 0;
    -webkit-transition: top 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__line::after {
    bottom: -10px;
    right: 0;
    -webkit-transition: bottom 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__line.active {
    background-color: rgba(64, 64, 64, 0);
}
.menu__line.active::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__line.active::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 0.3s cubic-bezier(0.23, 1, 0.32, 1), transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.3s 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
@media only screen and (max-width: 1024px) {
    .about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
}

.about__main {
    width: 50%;
    padding-right: 20px;
}
@media only screen and (max-width: 1024px) {
    .about__main {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
}

.about__title {
    margin-bottom: 54px;
}
@media only screen and (max-width: 1024px) {
    .about__title {
        margin-bottom: 34px;
    }
}
@media only screen and (max-width: 767px) {
    .about__title {
        margin-bottom: 24px;
    }
}

.about__description-wrap {
    margin-bottom: 46px;
}
@media only screen and (max-width: 1024px) {
    .about__description-wrap {
        margin-bottom: 26px;
    }
}
@media only screen and (max-width: 767px) {
    .about__description-wrap {
        margin-bottom: 16px;
    }
}

.about__description {
    margin-bottom: 40px;
}
@media only screen and (max-width: 1024px) {
    .about__description {
        max-width: 620px;
        margin: 0 auto 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 767px) {
    .about__description {
        max-width: 100%;
        margin-bottom: 10px;
    }
}

.about__img {
    width: 50%;
    padding-left: 20px;
    display: block;
    pointer-events: none;
}
@media only screen and (max-width: 1024px) {
    .about__img {
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;
        padding-left: 0;
    }
}

.services__title {
    color: #fff;
}

.services-cards__item {
    padding: 30px 30px 26px;
    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
    .no-touch .services-cards__item:hover {
        background-color: #007cc7;
    }
    .no-touch .services-cards__item:hover .services-cards__rectangle {
        border-color: #fff;
    }
    .no-touch .services-cards__item:hover .services-cards__icon,
.no-touch .services-cards__item:hover .services-cards__title,
.no-touch .services-cards__item:hover .services-cards__description {
        color: #fff;
    }
}
@media only screen and (max-width: 1024px) {
    .services-cards__item {
        padding: 20px 20px 16px;
    }
}

.services-cards__rectangle {
    width: 80px;
    height: 80px;
    margin: 0 auto 25px;
    position: relative;
    border: 2px solid #007cc7;
    border-radius: 50%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.services-cards__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: calc(50% + 4px);
    font-size: 30px;
    color: #007cc7;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.services-cards__title {
    margin-bottom: 22px;
    text-transform: capitalize;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.services-cards__description {
    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.skills__heading {
    margin-bottom: 173px;
}
@media only screen and (max-width: 1024px) {
    .skills__heading {
        margin-bottom: 153px;
    }
}
@media only screen and (max-width: 767px) {
    .skills__heading {
        margin-bottom: 133px;
    }
}

.skills-card {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    background-color: #007cc7;
}
@media only screen and (min-width: 1025px) {
    .no-touch .skills-card:hover .skills-card__img {
        height: 466px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 767px) {
    .no-touch .skills-card:hover .skills-card__img {
        height: 366px;
    }
}
@media only screen and (max-width: 767px) {
    .skills-card {
        max-width: 100%;
    }
}

.skills-card__avatar {
    height: 350px;
    position: relative;
}
@media only screen and (max-width: 767px) {
    .skills-card__avatar {
        height: 250px;
    }
}

.skills-card__img {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    height: 446px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
    .skills-card__img {
        height: 346px;
    }
}

.skills-card__info {
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.skills-card__profile {
    margin-bottom: 5px;
    font-size: 16px;
    color: #007cc7;
}
@media only screen and (max-width: 767px) {
    .skills-card__profile {
        font-size: 14px;
    }
}

.skills-card__name {
    font-size: 14px;
    font-weight: 400;
}
@media only screen and (max-width: 767px) {
    .skills-card__name {
        font-size: 12px;
    }
}

.expertise {
    position: relative;
    background-color: #007cc7;
}
.expertise::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -17px;
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-bottom: 17px solid #007cc7;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.expertise-info {
    width: 360px;
    margin-top: 4px;
    margin-right: 80px;
}
@media only screen and (max-width: 767px) {
    .expertise-info {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 34px;
        text-align: center;
    }
}

.expertise-info__name {
    margin-bottom: 10px;
    color: #fff;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.expertise-info__profile {
    margin-bottom: 32px;
    font-weight: 300;
    letter-spacing: 0.9px;
    color: #fff;
}
@media only screen and (max-width: 767px) {
    .expertise-info__profile {
        margin-bottom: 22px;
    }
}

.expertise-info__description {
    margin-bottom: 36px;
    color: #fff;
}
@media only screen and (max-width: 767px) {
    .expertise-info__description {
        margin-bottom: 26px;
        text-align: center;
    }
}

.expertise-level {
    width: 360px;
}
@media only screen and (max-width: 767px) {
    .expertise-level {
        width: 100%;
    }
}

.expertise-level__item {
    margin-bottom: 20px;
}
.expertise-level__item:last-of-type {
    margin-bottom: 0;
}

.expertise-level__meta {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.expertise-level__title,
.expertise-level__percentage {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.expertise-level__line-box {
    height: 10px;
    position: relative;
    background-color: #005c94;
    border-radius: 25px;
}

.expertise-level__line {
    width: 100%;
    height: 10px;
    display: block;
    background-color: #fff;
    border-radius: 25px;
}
.expertise-level__line--width-90 {
    width: 90%;
}
.expertise-level__line--width-75 {
    width: 75%;
}
.expertise-level__line--width-65 {
    width: 65%;
}
.expertise-level__line--width-80 {
    width: 80%;
}
.expertise-level__line--width-50 {
    width: 50%;
}

.filter {
    margin-bottom: 60px;
}
@media only screen and (max-width: 1024px) {
    .filter {
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 767px) {
    .filter {
        margin-bottom: 40px;
    }
}

.filter__btn-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
@media only screen and (max-width: 767px) {
    .filter__btn-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.filter__btn {
    padding: 20px 30px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #999;
    letter-spacing: normal;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.filter__btn::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #999;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
    .no-touch .filter__btn:hover {
        color: #007cc7;
    }
    .no-touch .filter__btn:hover::after {
        background-color: #007cc7;
    }
}
.filter__btn.active {
    color: #007cc7;
}
.filter__btn.active::after {
    background-color: #007cc7;
}

@media only screen and (max-width: 1024px) {
    .filter-cards__item {
        width: calc(50% - 20px);
        margin: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .filter-cards__item {
        width: 100%;
        margin: 10px 0;
    }
}

.filter-cards__img-wrap {
    width: 100%;
    height: 320px;
    position: relative;
    overflow: hidden;
}
@media only screen and (min-width: 1025px) {
    .no-touch .filter-cards__img-wrap:hover .filter-cards__img {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    .no-touch .filter-cards__img-wrap:hover .filter-cards__overlay {
        left: 0;
    }
    .no-touch .filter-cards__img-wrap:hover .filter-cards__btn {
        opacity: 1;
    }
}

.filter-cards__img {
    min-height: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.filter-cards__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    overflow: hidden;
    background-color: rgba(64, 64, 64, 0.5);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
}

.filter-cards__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
}

.filter-cards__icon {
    font-size: 45px;
    color: #fff;
}

.filter-cards-meta {
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.filter-cards-meta__title {
    margin-bottom: 5px;
}

.filter-cards-meta__sub-title {
    font-size: 14px;
    font-weight: 400;
    color: #999;
}

.filter-cards-meta__btn {
    margin-top: 4px;
}
@media only screen and (min-width: 1025px) {
    .no-touch .filter-cards-meta__btn:hover .filter-cards-meta__icon {
        color: #007cc7;
    }
}

.filter-cards-meta__icon {
    font-size: 21px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.filter-cards-meta__icon--empty {
    display: none;
}
.filter-cards-meta__icon--empty.active {
    display: block;
}

.filter-cards-meta__icon--filled {
    display: none;
    color: #007cc7;
}
.filter-cards-meta__icon--filled.active {
    display: block;
}