{> "components/layout/_head" /}

<div class="container">

	{> "components/layout/_header" /}

	{> "components/layout/_home" /}

	<main class="main" role="main">

		{> "components/modules/_about" /}

		{> "components/modules/_services" /}

		{> "components/modules/_skills" /}

		{> "components/modules/_portfolio" /}

		{> "components/modules/_slider-theme" /}

		{> "components/modules/_blog" /}

		{> "components/modules/_testimonials" /}

		{> "components/modules/_contact" /}

	</main>

</div>

</body>

</html>
