<section class="container about" id="about" role="about">
    <div class="wrapper about__wrapper">
        <div class="heading about__heading">
            <h5>About</h5>
            <h2>Let me introduce</h2>
        </div>
        <div class="about__content">
            <div class="personal">
                <h4>Personal info</h4>
                <div class="personal__info">
                    <h5>Name: <span>Stevan Stojić</span></h5>
                    <h5>Profile: <span>Front-End Developer</span></h5>
                    <h5>E-mail: <span>stojicstevan.info@gmail.com</span></h5>
                    <h5>Phone: <span>(+381) 01 - 234 - 56 - 78</span></h5>
                </div>
                <div class="personal__pars">
                    <p>I specialize in making things for my clients. Most of the things I make are digital interfaces, but I also put effort into web design.</p>
                    <p>I'm also responsible and persistent person with excellent communication skills. I'm eager to show my acquired skills as well as to learn new ones.</p>
                    <p>I'll fulfill your ideas and suggestions, combine it with my expertise and create you a 'User-Friendly', 'Easy-to-Use', clean and memorable website that will leave a powerful impression on users.</p>
                </div>
                <a href="javascript:;" class="btn personal__btn">Get my cv</a>
                <img src="./././assets/images/dist/dots.png" alt="Dots" class="dots-bg personal__dots-bg">
            </div>
            <div class="skills">
                <h4>Skills</h4>
                <div class="skills__card">
                    <div class="skills__card-upper">
                        <div class="skills__card-upper-left">
                            <span class="icon font-icon-html"></span>
                            <h5>Html</h5>
                        </div>
                        <h5 class="skills__card-upper-percentage">90%</h5>
                    </div>
                    <span class="skills__card-line"></span>
                </div>
                <div class="skills__card">
                    <div class="skills__card-upper">
                        <div class="skills__card-upper-left">
                            <span class="icon font-icon-css skills__card-upper-left-icon"></span>
                            <h5 class="skills__card-upper-left-heading">Css</h5>
                        </div>
                        <h5 class="skills__card-upper-percentage">80%</h5>
                    </div>
                    <span class="skills__card-line"></span>
                </div>
                <div class="skills__card">
                    <div class="skills__card-upper">
                        <div class="skills__card-upper-left">
                            <span class="icon font-icon-js skills__card-upper-left-icon"></span>
                            <h5 class="skills__card-upper-left-heading">Javascript</h5>
                        </div>
                        <h5 class="skills__card-upper-percentage">65%</h5>
                    </div>
                    <span class="skills__card-line"></span>
                </div>
                <div class="skills__card">
                    <div class="skills__card-upper">
                        <div class="skills__card-upper-left">
                            <span class="icon font-icon-gulp skills__card-upper-left-icon"></span>
                            <h5 class="skills__card-upper-left-heading">Gulp</h5>
                        </div>
                        <h5 class="skills__card-upper-percentage">75%</h5>
                    </div>
                    <span class="skills__card-line"></span>
                </div>
                <a href="javascript:;" class="btn btn-white skills__btn">Hire me</a>
                <img src="./././assets/images/dist/dots.png" alt="Dots" class="dots-bg skills__dots-bg">
            </div>
        </div>
    </div>
</section>