<section class="container accomplishments" style="background-image: url(./././assets/images/dist/accomplishments-page_bg.jpg);" role="accomplishments">
    <div class="wrapper accomplishments__wrapper">
        <div class="accomplishments__cards">
            <div class="accomplishments__cards-card">
                <div class="accomplishments__cards-card-rectangle">
                    <span class="icon font-icon-check"></span>
                </div>
                <h4>78</h4>
                <h5>Projects Completed</h5>
            </div>
            <div class="accomplishments__cards-card">
                <div class="accomplishments__cards-card-rectangle">
                    <span class="icon font-icon-customer"></span>
                </div>
                <h4>19</h4>
                <h5>Total Clients</h5>
            </div>
            <div class="accomplishments__cards-card">
                <div class="accomplishments__cards-card-rectangle">
                    <span class="icon font-icon-patent"></span>
                </div>
                <h4>4</h4>
                <h5>Years of Experience</h5>
            </div>
        </div>
    </div>
</section>