<section class="container blog" id="blog" role="blog">
    <div class="wrapper blog__wrapper">
        <div class="heading blog__heading">
            <h5>Blog</h5>
            <h2>Read our blog posts</h2>
        </div>
        <p class="subpar blog__subpar">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.</p>
        <div class="blog__cards">
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/alone-blog-thumb.png" alt="Man thinking solo on the river">
                    <h6>Travel</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Solo thinking</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>52 min</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/design-blog-thumb.png" alt="People working on some design">
                    <h6>Web Design</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Modern Design</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>3 hrs</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/coding-blog-thumb.png" alt="Coding javascript">
                    <h6>Development</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>NPM and Gulp</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>7 hrs</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/photography-blog-thumb.png" alt="Man sitting on the rock at the sea">
                    <h6>Photography</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Photography</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>2 days</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/design-blog-thumb.png" alt="People working on some design">
                    <h6>Web Design</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Modern Design</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>3 hrs</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/photography-blog-thumb.png" alt="Man sitting on the rock at the sea">
                    <h6>Photography</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Photography</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>2 days</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/alone-blog-thumb.png" alt="Man thinking solo on the river">
                    <h6>Travel</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Solo thinking</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>52 min</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/photography-blog-thumb.png" alt="Man sitting on the rock at the sea">
                    <h6>Photography</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Photography</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>2 days</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/coding-blog-thumb.png" alt="Coding javascript">
                    <h6>Development</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>NPM and Gulp</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>7 hrs</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/photography-blog-thumb.png" alt="Man sitting on the rock at the sea">
                    <h6>Photography</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Photography</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>2 days</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/design-blog-thumb.png" alt="People working on some design">
                    <h6>Web Design</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Modern Design</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>3 hrs</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/photography-blog-thumb.png" alt="Man sitting on the rock at the sea">
                    <h6>Photography</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Photography</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>2 days</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/photography-blog-thumb.png" alt="Man sitting on the rock at the sea">
                    <h6>Photography</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Photography</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>2 days</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/alone-blog-thumb.png" alt="Man thinking solo on the river">
                    <h6>Travel</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Solo thinking</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>52 min</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/photography-blog-thumb.png" alt="Man sitting on the rock at the sea">
                    <h6>Photography</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>Photography</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>2 days</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
            <div class="blog__cards-card">
                <div class="blog__cards-card-image">
                    <img src="./././assets/images/dist/coding-blog-thumb.png" alt="Coding javascript">
                    <h6>Development</h6>
                </div>
                <div class="blog__cards-card-text">
                    <h5>NPM and Gulp</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__cards-card-footer">
                    <div class="blog__cards-card-footer-avatar">
                        <img src="./././assets/images/dist/shape_avatar.png" alt="Stevan Stojić avatar">
                        <h6>Stevan S.</h6>
                    </div>
                    <div class="blog__cards-card-footer-timing">
                        <h6>7 hrs</h6>
                        <span class="icon font-icon-clock"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog__btn">
            <a href="javascript:;" class="btn btn-silver blog__btn-less">Show less</a>
            <a href="javascript:;" class="btn blog__btn-more">Show more</a>
        </div>
    </div>
</section>