<section class="container contact" id="contact" role="contact">
    <div class="wrapper contact__wrapper">
        <div class="heading contact__heading">
            <h5>Contact</h5>
            <h2>Get in touch</h2>
        </div>
        <div class="contact__content">
            <div class="helper">
                <h4>How can i help?</h4>
                <span class="icon font-icon-dashboard helper__icon"></span>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                <div class="helper__info">
                    <h5>Name: <span>Stevan Stojić</span></h5>
                    <h5>Profile: <span>Front-End Developer</span></h5>
                    <h5>E-mail: <span>stojicstevan.info@gmail.com</span></h5>
                    <h5>Phone: <span>(+381) 01 - 234 - 56 - 78</span></h5>
                </div>
                <div class="helper__social">
                    <a href="javascript:;" target="_blank" class="helper__social-rectangle">
                        <span class="icon font-icon-facebook"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="helper__social-rectangle">
                        <span class="icon font-icon-instagram"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="helper__social-rectangle">
                        <span class="icon font-icon-youtube"></span>
                    </a>
                </div>
                <img src="./././assets/images/dist/contact_bg.png" alt="UnDraw contact bg" class="helper__bg">
                <img src="./././assets/images/dist/dots.png" alt="Dots" class="dots-bg helper__dots-bg">
            </div>
            <div class="sender">
                <h4>Send me E-mail</h4>
                <div class="sender__rectangle">
                    <span class="icon font-icon-close"></span>
                </div>
                <form action="javascript:;" class="sender__form">
                    <div class="sender__form-input">
                        <input type="text" name="name" id="form__name" placeholder="Name *" maxlength="24" required>
                        <span class="icon font-icon-user"></span>
                        <div class="sender__form-input-rectangle success">
                            <span class="icon font-icon-check"></span>
                        </div>
                        <!-- <div class="sender__form-input-rectangle error">
                            <span class="icon font-icon-exclamation-mark"></span>
                        </div> -->
                    </div>
                    <div class="sender__form-input">
                        <input type="text" name="company" id="form__company" placeholder="Company" maxlength="50">
                        <span class="icon font-icon-briefcase"></span>
                    </div>
                    <div class="sender__form-input">
                        <input type="email" name="email" id="form__email" placeholder="E-mail *" maxlength="50" required>
                        <span class="icon font-icon-mail"></span>
                        <div class="sender__form-input-rectangle success">
                            <span class="icon font-icon-check"></span>
                        </div>
                        <div class="sender__form-input-rectangle error">
                            <span class="icon font-icon-exclamation-mark"></span>
                        </div>
                    </div>
                    <textarea name="message" id="form__message" placeholder="Message"></textarea>
                    <button type="submit" class="btn sender__form-btn">Send</button>
                </form>
                <img src="./././assets/images/dist/dots.png" alt="Dots" class="dots-bg sender__dots-bg">
            </div>
        </div>
    </div>
</section>