<section class="container hero" id="hero" style="background-image: url('./././assets/images/dist/landing-page_bg.jpg');" role="landing">
    <div class="wrapper hero__wrapper">
        <div class="hero__content">
            <h5>Hi there</h5>
            <h1>I'm Stevan Stojić</h1>
            <p>I am a professional <span>Front-End Developer</span> creating modern and responsive designs for Web and Mobile. Let us work together.</p>
            <a href="javascript:;" class="btn hero__landing-btn">Let's Begin</a>
        </div>
    </div>
</section>