<section class="container projects" id="projects" role="projects">
    <div class="wrapper projects__wrapper">
        <div class="heading projects__heading" data-aos="zoom-in-down">
            <h5>Portfolio</h5>
            <h2>My projects</h2>
        </div>
        <p class="subpar projects__subpar" data-aos="zoom-in-down">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        <ul class="projects__filters" data-aos="zoom-in-down" data-aos-delay="300">
            <li class="projects__filters-filter active" data-filter="all">All</li>
            <li class="projects__filters-filter" data-filter="development">Development</li>
            <li class="projects__filters-filter" data-filter="design">Design</li>
        </ul>
        <div class="projects__images" data-aos="zoom-in-down" data-aos-delay="600">
            <div class="projects__images-image development" data-filter="development">
                <img src="./././assets/images/dist/coding-thumb.png" alt="Man coding a new project" class="projects__images-image-img">
                <div class="projects__images-image-data">
                    <h5>Portfolio</h5>
                    <span class="icon font-icon-heart"></span>
                    <span class="icon font-icon-zoom"></span>
                </div>
            </div>
            <div class="projects__images-image" data-filter="design">
                <img src="./././assets/images/dist/design-thumb.png" alt="Man coding a new project" class="projects__images-image-img">
                <div class="projects__images-image-data">
                    <h5>Portfolio</h5>
                    <span class="icon font-icon-heart"></span>
                    <span class="icon font-icon-zoom"></span>
                </div>
            </div>
            <div class="projects__images-image" data-filter="development">
                <img src="./././assets/images/dist/website-thumb.png" alt="Man coding a new project" class="projects__images-image-img">
                <div class="projects__images-image-data">
                    <h5>Portfolio</h5>
                    <span class="icon font-icon-heart"></span>
                    <span class="icon font-icon-zoom"></span>
                </div>
            </div>
            <div class="projects__images-image projects__images-image-modifier50" data-filter="design">
                <img src="./././assets/images/dist/nature-thumb.png" alt="Man coding a new project" class="projects__images-image-img">
                <div class="projects__images-image-data">
                    <h5>Portfolio</h5>
                    <span class="icon font-icon-heart"></span>
                    <span class="icon font-icon-zoom"></span>
                </div>
            </div>
            <div class="projects__images-image projects__images-image-modifier50" data-filter="design">
                <img src="./././assets/images/dist/coffee-thumb.png" alt="Man coding a new project" class="projects__images-image-img">
                <div class="projects__images-image-data">
                    <h5>Portfolio</h5>
                    <span class="icon font-icon-heart"></span>
                    <span class="icon font-icon-zoom"></span>
                </div>
            </div>
            <div class="projects__images-image" data-filter="development">
                <img src="./././assets/images/dist/coding-thumb.png" alt="Man coding a new project" class="projects__images-image-img">
                <div class="projects__images-image-data">
                    <h5>Portfolio</h5>
                    <span class="icon font-icon-heart"></span>
                    <span class="icon font-icon-zoom"></span>
                </div>
            </div>
            <div class="projects__images-image" data-filter="design">
                <img src="./././assets/images/dist/design-thumb.png" alt="Man coding a new project" class="projects__images-image-img">
                <div class="projects__images-image-data">
                    <h5>Portfolio</h5>
                    <span class="icon font-icon-heart"></span>
                    <span class="icon font-icon-zoom"></span>
                </div>
            </div>
            <div class="projects__images-image" data-filter="development">
                <img src="./././assets/images/dist/website-thumb.png" alt="Man coding a new project" class="projects__images-image-img">
                <div class="projects__images-image-data">
                    <h5>Portfolio</h5>
                    <span class="icon font-icon-heart"></span>
                    <span class="icon font-icon-zoom"></span>
                </div>
            </div>
        </div>
    </div>
</section>