<section class="container services" id="services" role="services">
    <div class="wrapper services__wrapper">
        <div class="heading services__heading">
            <h5>Services</h5>
            <h2>What i can do</h2>
        </div>
        <div class="services__cards">
            <div class="services__cards-card">
                <div class="services__cards-card-rectangle">
                    <span class="icon font-icon-webpack"></span>
                </div>
                <h5>Web Development</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="javascript:;" class="btn services__cards-card-btn">Projects</a>
            </div>
            <div class="services__cards-card">
                <div class="services__cards-card-rectangle">
                    <span class="icon font-icon-responsive"></span>
                </div>
                <h5>Responsive Design</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="javascript:;" class="btn services__cards-card-btn">Projects</a>
            </div>
            <div class="services__cards-card">
                <div class="services__cards-card-rectangle">
                    <span class="icon font-icon-pen"></span>
                </div>
                <h5>Web Design</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="javascript:;" class="btn services__cards-card-btn">Projects</a>
            </div>
            <div class="services__cards-card">
                <div class="services__cards-card-rectangle">
                    <span class="icon font-icon-settings"></span>
                </div>
                <h5>Seo Optimization</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="javascript:;" class="btn services__cards-card-btn">Projects</a>
            </div>
        </div>
    </div>
</section>