<section class="container testimonials" id="testimonitals" role="testimonials">
    <div class="wrapper testimonials__wrapper">
        <div class="heading testimonials__heading" data-aos="zoom-in-down">
            <h5>Testimonials</h5>
            <h2>What our clients say</h2>
        </div>
        <div class="swiper-container testimonials__slider-container" data-aos="fade-down" data-aos-delay="300">
            <div class="swiper-wrapper testimonials__slider-wrapper">
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__slide-inner">
                        <div class="testimonials__slide-inner-review">
                            <img src="./././assets/images/dist/quote-symbol.png" alt="Quote symbole background" class="testimonials__slide-inner-review-bg">
                            <h5>Customer Review</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                            <h5>Melissa Benoist</h5>
                            <h6>QuoteTech Zone LLC.</h6>
                            <div class="testimonials__slide-inner-review-avatar">
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-1.png" alt="Grant Gustin">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-2.png" alt="Stephen Amell">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-3.png" alt="Nina Dobrev">
                                </div>
                            </div>
                        </div>
                        <div class="testimonials__slide-inner-avatar">
                            <div class="testimonials__slide-inner-avatar-wrapper">
                                <img src="./././assets/images/dist/shape.png" alt="Shape beneath avatar" class="testimonials__slide-inner-avatar-wrapper-shape">
                                <div class="testimonials__slide-inner-avatar-wrapper-rectangle">
                                    <img src="./././assets/images/dist/avatar.png" alt="Melissa Benoist">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__slide-inner">
                        <div class="testimonials__slide-inner-review">
                            <h5>Customer Review</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                            <h5>Melissa Benoist</h5>
                            <h6>QuoteTech Zone LLC.</h6>
                            <div class="testimonials__slide-inner-review-avatar">
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-1.png" alt="Grant Gustin">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-2.png" alt="Stephen Amell">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-3.png" alt="Nina Dobrev">
                                </div>
                            </div>
                        </div>
                        <div class="testimonials__slide-inner-avatar">
                            <div class="testimonials__slide-inner-avatar-wrapper">
                                <img src="./././assets/images/dist/shape.png" alt="Shape beneath avatar" class="testimonials__slide-inner-avatar-wrapper-shape">
                                <div class="testimonials__slide-inner-avatar-wrapper-rectangle">
                                    <img src="./././assets/images/dist/avatar.png" alt="Melissa Benoist">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__slide-inner">
                        <div class="testimonials__slide-inner-review">
                            <h5>Customer Review</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                            <h5>Melissa Benoist</h5>
                            <h6>QuoteTech Zone LLC.</h6>
                            <div class="testimonials__slide-inner-review-avatar">
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-1.png" alt="Grant Gustin">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-2.png" alt="Stephen Amell">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-3.png" alt="Nina Dobrev">
                                </div>
                            </div>
                        </div>
                        <div class="testimonials__slide-inner-avatar">
                            <div class="testimonials__slide-inner-avatar-wrapper">
                                <img src="./././assets/images/dist/shape.png" alt="Shape beneath avatar" class="testimonials__slide-inner-avatar-wrapper-shape">
                                <div class="testimonials__slide-inner-avatar-wrapper-rectangle">
                                    <img src="./././assets/images/dist/avatar.png" alt="Melissa Benoist">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__slide-inner">
                        <div class="testimonials__slide-inner-review">
                            <h5>Customer Review</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                            <h5>Melissa Benoist</h5>
                            <h6>QuoteTech Zone LLC.</h6>
                            <div class="testimonials__slide-inner-review-avatar">
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-1.png" alt="Grant Gustin">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-2.png" alt="Stephen Amell">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-3.png" alt="Nina Dobrev">
                                </div>
                            </div>
                        </div>
                        <div class="testimonials__slide-inner-avatar">
                            <div class="testimonials__slide-inner-avatar-wrapper">
                                <img src="./././assets/images/dist/shape.png" alt="Shape beneath avatar" class="testimonials__slide-inner-avatar-wrapper-shape">
                                <div class="testimonials__slide-inner-avatar-wrapper-rectangle">
                                    <img src="./././assets/images/dist/avatar.png" alt="Melissa Benoist">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__slide-inner">
                        <div class="testimonials__slide-inner-review">
                            <h5>Customer Review</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                            <h5>Melissa Benoist</h5>
                            <h6>QuoteTech Zone LLC.</h6>
                            <div class="testimonials__slide-inner-review-avatar">
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-1.png" alt="Grant Gustin">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-2.png" alt="Stephen Amell">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-3.png" alt="Nina Dobrev">
                                </div>
                            </div>
                        </div>
                        <div class="testimonials__slide-inner-avatar">
                            <div class="testimonials__slide-inner-avatar-wrapper">
                                <img src="./././assets/images/dist/shape.png" alt="Shape beneath avatar" class="testimonials__slide-inner-avatar-wrapper-shape">
                                <div class="testimonials__slide-inner-avatar-wrapper-rectangle">
                                    <img src="./././assets/images/dist/avatar.png" alt="Melissa Benoist">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__slide-inner">
                        <div class="testimonials__slide-inner-review">
                            <h5>Customer Review</h5>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                            <h5>Melissa Benoist</h5>
                            <h6>QuoteTech Zone LLC.</h6>
                            <div class="testimonials__slide-inner-review-avatar">
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-1.png" alt="Grant Gustin">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-2.png" alt="Stephen Amell">
                                </div>
                                <div class="testimonials__slide-inner-review-avatar-rectangle">
                                    <img src="./././assets/images/dist/avatar-mini-3.png" alt="Nina Dobrev">
                                </div>
                            </div>
                        </div>
                        <div class="testimonials__slide-inner-avatar">
                            <div class="testimonials__slide-inner-avatar-wrapper">
                                <img src="./././assets/images/dist/shape.png" alt="Shape beneath avatar" class="testimonials__slide-inner-avatar-wrapper-shape">
                                <div class="testimonials__slide-inner-avatar-wrapper-rectangle">
                                    <img src="./././assets/images/dist/avatar.png" alt="Melissa Benoist">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials__slider-pagination"></div>
            <div class="testimonials__slider-prev">
                <span class="icon font-icon-left"></span>
            </div>
            <div class="testimonials__slider-next">
                <span class="icon font-icon-right"></span>
            </div>
        </div>
    </div>
</section>