{> "partials/layout/head" /}

<div class="container">

    {> "partials/layout/header" /}

        <main class="main" role="main">

            {> "partials/modules/hero" /}

            {> "partials/modules/about" /}

            {> "partials/modules/services" /}
            
            {> "partials/modules/accomplishments" /}

            {> "partials/modules/projects" /}

            {> "partials/modules/testimonials" /}

            {> "partials/modules/blog" /}

            {> "partials/modules/contact" /}
            
        </main>

</div>

</body>

</html>
