// ---------- Reset styles ---------- //

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

// ---------- Link reset styles ----------  //

a {
    text-decoration: none;
    cursor: pointer;
}

a:focus,
a:hover,
a:active {
    outline: none;
}

// ---------- List reset styles---------- //

ul,
ol,
dl {
    list-style: none;
    list-style-image: none;
}

// ---------- Form reset styles ---------- //

button,
input,
textarea {
	outline: none;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

button,
input[type=button] {
    cursor: pointer;
}
