// ---------- Color variables ---------- //

$font-default: 'EncodeSans';

// ---------- Default shades variables ---------- //

$white: #fff;
$silver: #e5e5e5;
$black: #000;

// ---------- Gray shades variables ---------- //

$bg: #f5f5f5;
$nero: #404040;

// ---------- Red shades variables ---------- //

$red: #f50057;
$darkRed: #b0003e;

// ---------- Green shades variables ---------- //

$green: #00bfa6;

// ---------- Blue shades variables ---------- //

$blue: #536dfe;
