// ---------- Global styles ---------- //

body {
    background: $bg;
    font-family: $font-default;
    font-size: 14px;
    font-weight: 400;
    color: $nero;
    line-height: normal;
    letter-spacing: normal;
    &.body--overflow {
        overflow: hidden;
    }
}

.wrapper {
    @extend %clearfix;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 40px;
    position: relative;
    z-index: 1;
    text-align: center;
    @include breakpoint(touch) {
        padding: 40px 20px;
    }
    * {
        text-align: left;
    }
}

.container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.heading {
    display: inline-block;
    position: relative;
    h5 {
        color: $red;
    }
    h2 {
        margin-top: 10px;
    }
}

.subpar {
    width: 100%;
    max-width: 800px;
    margin: 27px auto 0;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
}

.dots-bg {
    width: 100%;
    max-width: 185px;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}

img {
    width: 100%;
    height: auto;
}
