// ---------- Contact ---------- //

.contact {
    @extend %box-shadow;
    max-width: 1000px;
    margin: 77px auto 0;
    display: flex;
    @include breakpoint(phone) {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-top: 0;
        display: block;
        box-shadow: none;
    }
}

.contact-info {
    width: 100%;
    max-width: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: $blue;
    @include breakpoint(phone) {
        max-width: 100%;
        padding: 30px 20px;
        text-align: center;
    }
}

.contact-info__title {
    margin-bottom: 67px;
    color: $white;
    @include breakpoint(phone) {
        margin-bottom: 30px;
    }
}

.contact-info__data-wrap {
    margin-left: -2px;
    @include breakpoint(phone) {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

.contact-info__data {
    margin-bottom: 29px;
    display: flex;
    align-items: center;
    @include breakpoint(phone) {
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: center;
    }
}

.contact-info__meta {
    margin-left: 6px;
    @include breakpoint(phone) {
        text-align: left;
    }
}

.contact-info__meta--mg-left {
    margin-top: -1px;
    margin-left: 10px;
}

.contact-info__icon {
    color: $white;
    @include breakpoint(phone) {
        margin-bottom: 10px;
    }
}

.contact-info__icon--mod {
    margin-top: 0;
    margin-left: 3px;
    font-size: 14px;
    @include breakpoint(phone) {
        margin-left: 0;
    }
}

.contact-info__text {
    margin-bottom: 2px;
    color: $white;
    @include breakpoint(phone) {
        text-align: center;
    }
}

.contact-social__icon-wrap {
    margin-top: auto;
}

.contact-form {
    width: 100%;
    max-width: 700px;
    padding: 50px;
    @include breakpoint(phone) {
        max-width: 100%;
        padding: 30px 20px 0;
        text-align: center;
    }
}

.contact-form__title {
    margin-bottom: 35px;
}

.form {
    width: calc(100% + 40px);
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(phone) {
        width: 100%;
        margin-left: 0;
        display: block;
    }
}

.form__item {
    width: calc(50% - 40px);
    height: 50px;
    margin: 15px 20px;
    position: relative;
    @include breakpoint(phone) {
        width: 100%;
        margin: 20px 0;
    }
}

.form__item--height-auto {
    height: auto;
}

.form__item--full-width {
    width: 100%;
}

.form__icon {
    @include align(absolute, y);
    left: 10px;
}

.form__label {
    @include align(absolute, y);
    left: 40px;
    transition: 0.3s ease-in-out;
    &.active {
        top: -12px;
        left: 5px;
        font-size: 10px;
        color: $gray;
        @include breakpoint(phone) {
            top: -8px;
        }
    }
}

.form__label--pos-y {
    &.active {
        top: -17px;
        @include breakpoint(phone) {
            top: -15px;
        }
    }
}

.form__label--position,
.form__icon--position {
    top: 10px;
    transform: translate(0);
}

.form__btn {
    margin-top: 15px;
    margin-left: 20px;
    @include breakpoint(phone) {
        margin-top: 0;
        margin-left: 0;
    }
}
