// ---------- Portfolio ---------- //

.filter {
    margin-bottom: 60px;
    @include breakpoint(touch) {
        margin-bottom: 50px;
    }
    @include breakpoint(phone) {
        margin-bottom: 40px;
    }
}

.filter__btn-wrap {
    display: flex;
    justify-content: center;
    @include breakpoint(phone) {
        flex-direction: column;
    }
}

.filter__btn {
    padding: 20px 30px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: $gray;
    letter-spacing: normal;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    &::after {
        content: '';
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $gray;
        transition: 0.3s ease-in-out;
    }
    @include hover {
        color: $blue;
        &::after {
            background-color: $blue;
        }
    }
    &.active {
        color: $blue;
        &::after {
            background-color: $blue;
        }
    }
}

.filter-cards__item {
    @extend %box-shadow;
    @include breakpoint(touch) {
        width: calc(50% - 20px);
        margin: 10px;
    }
    @include breakpoint(phone) {
        width: 100%;
        margin: 10px 0;
    }
}

.filter-cards__img-wrap {
    width: 100%;
    height: 320px;
    position: relative;
    overflow: hidden;
    @include hover {
        .filter-cards__img {
            transform: scale(1.1);
        }
        .filter-cards__overlay {
            left: 0;
        }
        .filter-cards__btn {
            opacity: 1;
        }
    }
    @include breakpoint(phone) {
        height: 240px;
    }
}

.filter-cards__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.filter-cards__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    overflow: hidden;
    background-color: rgba($nero, 0.5);
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
    @include breakpoint(touch) {
        left: 0;
        background-color: rgba($nero, 0);
    }
}

.filter-cards__btn {
    @include align(absolute, xy);
    opacity: 0;
    transition: 0.3s ease-in-out;
    transition-delay: 0.6s;
    @include breakpoint(touch) {
        top: auto;
        left: auto;
        right: 20px;
        bottom: 12px;
        transform: translate(0);
        opacity: 1;
    }
}

.filter-cards__icon {
    font-size: 45px;
    color: $white;
    @include breakpoint(touch) {
        font-size: 25px;
    }
}

.filter-cards-meta {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-cards-meta__title {
    margin-bottom: 5px;
}

.filter-cards-meta__sub-title {
    font-size: 14px;
    font-weight: 400;
    color: $gray;
}

.filter-cards-meta__btn {
    margin-top: 4px;
    @include hover {
        .filter-cards-meta__icon {
            color: $blue;
        }
    }
}

.filter-cards-meta__icon {
    font-size: 21px;
    transition: 0.3s ease-in-out;
}

.filter-cards-meta__icon--empty {
    display: none;
    &.active {
        display: block;
    }
}

.filter-cards-meta__icon--filled {
    display: none;
    color: $blue;
    &.active {
        display: block;
    }
}
