// ---------- Services ---------- //

.services-heading__title {
    color: $white;
}

.services__item {
    padding: 30px 30px 26px;
    text-align: center;
    transition: 0.3s ease-in-out;
    @include hover {
        background-color: $blue;
        .services__rectangle {
            border-color: $white;
        }
        .services__icon,
        .services__title,
        .services__description {
            color: $white;
        }
    }
    @include breakpoint(touch) {
        padding: 20px 20px 16px;
    }
}

.services__rectangle {
    width: 80px;
    height: 80px;
    margin: 0 auto 25px;
    position: relative;
    border: 2px solid $blue;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.services__icon {
    @include align(absolute, xy);
    font-size: 31px;
    color: $blue;
    transition: 0.3s ease-in-out;
}

.services__title {
    margin-bottom: 22px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
}

.services__description {
    text-align: center;
    transition: 0.3s ease-in-out;
}
