<footer id="footer" class="footer footer--bg-smoke">
    <div class="wrap wrap--flex">
        <div class="footer__item footer__item--logo" data-aos="fade-right">
            <a href="javascript:;" class="logo">
                <h4 class="logo__h4">Stiv<span>codes</span></h3>
            </a>
        </div>
        <div class="footer__item" data-aos="fade-right">
            <h5 class="footer__title" data-aos="fade-right" data-aos-delay="250">About us</h5>
            <p class="footer__description" data-aos="fade-up" data-aos-delay="300">I am Stevan Stojić, a professional Front-End Developer. I create modern and responsive websites for desktops, tablets and mobiles.</p>
        </div>
        <div class="footer__item" data-aos="fade-right">
            <h5 class="footer__title footer__title--margin-b-sm" data-aos="fade-right" data-aos-delay="250">Recent work</h5>
            <div class="footer__link-wrap">
                <a href="javascript:;" class="footer__link-img" data-aos="zoom-in" data-aos-delay="300">
                    <img src="./././assets/images/dist/dev-alexis.jpg" alt="Alexis website template design" class="footer__img">
                </a>
                <a href="javascript:;" class="footer__link-img" data-aos="zoom-in" data-aos-delay="350">
                    <img src="./././assets/images/dist/des-card.png" alt="Card design template" class="footer__img">
                </a>
                <a href="javascript:;" class="footer__link-img" data-aos="zoom-in" data-aos-delay="400">
                    <img src="./././assets/images/dist/dev-gulp.png" alt="Gulp wallpaper" class="footer__img">
                </a>
                <a href="javascript:;" class="footer__link-img" data-aos="zoom-in" data-aos-delay="450">
                    <img src="./././assets/images/dist/dev-hexagon.jpg" alt="Hexagon website template design" class="footer__img">
                </a>
            </div>
            <a href="javascript:;" class="footer__link" data-aos="fade-right" data-aos-delay="500">View more</a>
        </div>
        <div class="footer__item footer__item--flex" data-aos="fade-right">
            <h5 class="footer__title footer__title--margin-b-20" data-aos="fade-right" data-aos-delay="250">Need help?</h5>
            <a href="javascript:;" class="footer__link" data-aos="fade-right" data-aos-delay="300">Help Center</a>
            <a href="javascript:;" class="footer__link" data-aos="fade-right" data-aos-delay="350">Terms & Conditions</a>
            <a href="javascript:;" class="footer__link" data-aos="fade-right" data-aos-delay="400">Author Terms</a>
            <a href="javascript:;" class="footer__link" data-aos="fade-right" data-aos-delay="450">Premium Licenses</a>
            <a href="javascript:;" class="footer__link" data-aos="fade-right" data-aos-delay="500">Contact me</a>
            <div class="social__box footer-social__icon-wrap">
                <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="500" class="social__link footer-social__link">
                    <span class="icon font-icon-facebook social__icon footer-social__icon"></span>
                </a>
                <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="550" class="social__link footer-social__link">
                    <span class="icon font-icon-twitter social__icon footer-social__icon"></span>
                </a>
                <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="600" class="social__link footer-social__link">
                    <span class="icon font-icon-google social__icon footer-social__icon"></span>
                </a>
                <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="650" class="social__link footer-social__link">
                    <span class="icon font-icon-github social__icon footer-social__icon"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span class="divider" data-aos="width" data-aos-duration="1500"></span>
        <div class="wrap wrap--padding-20 wrap--flex-sb-center wrap--block">
            <p class="copyright__description" data-aos="fade-right" data-aos-delay="500">© Copyright 2021 - All Rights Reserved</p>
            <p class="copyright__description copyright__description--text-right" data-aos="fade-left" data-aos-delay="500">Designed and Developed by <span>Stevan Stojić</span></p>
        </div>
    </div>
</footer>