<header id="header" class="header" role="banner">
    <div class="wrap wrap--pd-40 wrap--flex-sb-center">
        <a href="javascript:;" class="logo">
            <h4 class="logo__h4">Stiv<span>codes</span></h3>
        </a>
        <nav id="nav" class="nav" role="navigation">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="javascript:;" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="javascript:;" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="javascript:;" class="nav__link">Services</a>
                </li>
                <li class="nav__item">
                    <a href="javascript:;" class="nav__link">Portfolio</a>
                </li>
                <li class="nav__item">
                    <a href="javascript:;" class="nav__link">Blog</a>
                </li>
                <li class="nav__item">
                    <a href="javascript:;" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="change-mode">
            <span class="icon font-icon-night change-mode__icon change-mode__icon--night active"></span>
            <span class="icon font-icon-sun change-mode__icon change-mode__icon--sun"></span>
        </button>
        <button class="menu">
            <span class="menu__line"></span>
        </button>
    </div>
</header>
