<header id="header" class="header" role="banner">
    <div class="wrap wrap--padding-40 wrap--flex-sb-center">
        <a href="javascript:;" class="logo" data-aos-offset="120" data-aos="fade-right" data-aos-delay="1100" data-aos-easing="ease-in-sine">
            <h4 class="logo__h4">Stiv<span>codes</span></h3>
        </a>
        <nav id="nav" class="nav" role="navigation">
            <ul class="nav__list">
                <li data-aos="fade-down-left" data-aos-offset="120" data-aos-delay="2500"  class="nav__item">
                    <a href="#home" class="nav__link">Home</a>
                </li>
                <li data-aos="fade-down-left" data-aos-offset="120" data-aos-delay="2550" class="nav__item">
                    <a href="#about" class="nav__link">About</a>
                </li>
                <li data-aos="fade-down-left" data-aos-offset="120" data-aos-delay="2600" class="nav__item">
                    <a href="#services" class="nav__link">Services</a>
                </li>
                <li data-aos="fade-down-left" data-aos-offset="120" data-aos-delay="2650" class="nav__item">
                    <a href="#portfolio" class="nav__link">Portfolio</a>
                </li>
                <li data-aos="fade-down-left" data-aos-offset="120" data-aos-delay="2700" class="nav__item">
                    <a href="#blog" class="nav__link">Blog</a>
                </li>
                <li data-aos="fade-down-left" data-aos-offset="120" data-aos-delay="2750" class="nav__item">
                    <a href="#contact" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="change-mode" data-aos-offset="120" data-aos="zoom-in" data-aos-delay="2000">
            <span class="icon font-icon-night change-mode__icon change-mode__icon--dark active"></span>
            <span class="icon font-icon-sun change-mode__icon change-mode__icon--light"></span>
        </button>
        <button class="menu" data-aos-offset="120" data-aos="zoom-in" data-aos-delay="2000">
            <span class="menu__line"></span>
        </button>
    </div>
</header>
