<section id="hero" class="container container--h-full" role="banner">
    <div class="wrap wrap--h-full wrap--flex">
        <div class="hero">
            <h1 class="hero__h1">Hello</h1>
            <p class="hero__desc">I am <span>Stevan Stojić</span>, a professional Front-End Developer. I create modern and responsive websites for desktops, tablets and mobiles. Contact me and let's work together!</p>
            <div class="hero__btn-wrap">
                <a href="javascript:;" class="btn btn--blue hero__btn">Get in touch</a>
                <a href="javascript:;" class="btn btn--gray hero__btn">View works</a>
            </div>
        </div>
        <img src="./././assets/images/dist/avatar-main.png" alt="Avatar of this website's creator" class="avatar">
    </div>
</section>