<section id="home" class="container container--height-100vh" role="banner">
    <div class="wrap wrap--height-100vh wrap--flex-center-y">
        <div class="home">
            <h1 class="home__title" data-aos="fade-right" data-aos-delay="1100">Hello</h1>
            <p class="home__description" data-aos="fade-right" data-aos-delay="1500">I am <span>Stevan Stojić</span>, a professional Front-End Developer. I create modern and responsive websites for desktops, tablets and mobiles. Contact me and let's work together!</p>
            <div class="home__btn-wrap" data-aos="fade-right" data-aos-delay="2000">
                <a href="#contact" class="btn btn--blue home__btn home__btn--contact" role="button">Get in touch</a>
                <a href="#portfolio" class="btn btn--gray home__btn home__btn--projects"role="button">View projects</a>
            </div>
        </div>
        <img src="./././assets/images/dist/avatar-main.png" alt="Avatar of this website's creator" data-aos="opacity-right" data-aos-delay="300" class="home-avatar">
    </div>
</section>
