<section id="home" class="container container--height-100vh" role="banner">
    <div class="wrap wrap--height-100vh wrap--flex-center-y">
        <div class="home">
            <h1 class="home__title">Hello</h1>
            <p class="home__description">I am <span>Stevan Stojić</span>, a professional Front-End Developer. I create modern and responsive websites for desktops, tablets and mobiles. Contact me and let's work together!</p>
            <div class="home__btn-wrap">
                <a href="javascript:;" class="btn btn--blue home__btn home__btn--contact">Get in touch</a>
                <a href="javascript:;" class="btn btn--gray home__btn home__btn--projects">View projects</a>
            </div>
        </div>
        <img src="./././assets/images/dist/avatar-main.png" alt="Avatar of this website's creator" class="avatar">
    </div>
</section>
