@font-face {
	font-family: 'flat-icon';
	src: url('../../../assets/fonts/dist/flat-icon.woff2') format('woff2'),
		 url('../../../assets/fonts/dist/flat-icon.woff') format('woff'),
		 url('../../../assets/fonts/dist/flat-icon.ttf') format('truetype');
}

@mixin font-styles {
	font-family: 'flat-icon';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}
