@font-face {
	font-family: 'font-icon';
	src: url('../../../assets/fonts/dist/font-icon.woff2') format('woff2'),
		 url('../../../assets/fonts/dist/font-icon.woff') format('woff'),
		 url('../../../assets/fonts/dist/font-icon.ttf') format('truetype');
}

@mixin font-styles {
	font-family: 'font-icon';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == icon-chevron-left {
		$char: "\E001";
	}
	@if $filename == icon-chevron-right {
		$char: "\E002";
	}
	@if $filename == icon-display {
		$char: "\E003";
	}
	@if $filename == icon-facebook {
		$char: "\E004";
	}
	@if $filename == icon-github {
		$char: "\E005";
	}
	@if $filename == icon-google {
		$char: "\E006";
	}
	@if $filename == icon-heart-empty {
		$char: "\E007";
	}
	@if $filename == icon-heart-filled {
		$char: "\E008";
	}
	@if $filename == icon-key {
		$char: "\E009";
	}
	@if $filename == icon-leaf {
		$char: "\E00A";
	}
	@if $filename == icon-mobile {
		$char: "\E00B";
	}
	@if $filename == icon-night {
		$char: "\E00C";
	}
	@if $filename == icon-pencil {
		$char: "\E00D";
	}
	@if $filename == icon-quotation {
		$char: "\E00E";
	}
	@if $filename == icon-seo {
		$char: "\E00F";
	}
	@if $filename == icon-sun {
		$char: "\E010";
	}
	@if $filename == icon-twitter {
		$char: "\E011";
	}
	@if $filename == icon-zoom-in {
		$char: "\E012";
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

.font-icon-chevron-left {
	@include font(icon-chevron-left);
}
.font-icon-chevron-right {
	@include font(icon-chevron-right);
}
.font-icon-display {
	@include font(icon-display);
}
.font-icon-facebook {
	@include font(icon-facebook);
}
.font-icon-github {
	@include font(icon-github);
}
.font-icon-google {
	@include font(icon-google);
}
.font-icon-heart-empty {
	@include font(icon-heart-empty);
}
.font-icon-heart-filled {
	@include font(icon-heart-filled);
}
.font-icon-key {
	@include font(icon-key);
}
.font-icon-leaf {
	@include font(icon-leaf);
}
.font-icon-mobile {
	@include font(icon-mobile);
}
.font-icon-night {
	@include font(icon-night);
}
.font-icon-pencil {
	@include font(icon-pencil);
}
.font-icon-quotation {
	@include font(icon-quotation);
}
.font-icon-seo {
	@include font(icon-seo);
}
.font-icon-sun {
	@include font(icon-sun);
}
.font-icon-twitter {
	@include font(icon-twitter);
}
.font-icon-zoom-in {
	@include font(icon-zoom-in);
}
