// ---------- Button ---------- //

button,
.btn {
    font-family: $font-default;
    vertical-align: bottom;
    background-color: transparent;
    border: 0;
}

.btn {
    padding: 10px 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-family: $font-default;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    @include breakpoint(phone) {
        font-size: 12px;
    }
}

.btn__ripple {
    @include align(absolute, xy);
    width: 1px;
    height: 1px;
    background-color: $white;
    opacity: 0;
    border-radius: 50%;
    pointer-events: none;
    &.active {
        animation: ripple 0.3s linear;
    }
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.4;
    }
    100% {
        transform: scale(300);
        opacity: 0;
    }
}

.btn--blue {
    color: $white;
    background-color: $blue;
    @include hover {
        background-color: $darkBlue;
    }
}

.btn--gray {
    color: $nero;
    background-color: $lightGray;
    .btn__ripple {
        background-color: $nero;
    }
    @include hover {
        background-color: $gray;
    }
}
