// ---------- Header styles ---------- //

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    transition: .3s ease-in-out;
    &.header--sticky {
        position: fixed;
        background: $nero;
        box-shadow: rgba($color: ($nero), $alpha: .2) 0 3px 5px;
        .header__wrapper {
            padding: 20px 40px;
            @include breakpoint(touch) {
                margin-top: 0;
                padding: 20px;
            }
        }
        .logo {
            h3 {
                font-size: 32px;
            }
        }
        .menu,
        .nav  {
            margin-top: 12px;
            &.nav {
                @include breakpoint(touch) {
                    margin-top: 0;
                }
            }
            &.menu {
                @include breakpoint(touch) {
                    margin-top: 11px;
                }
            }
        }
    }
}

.header__wrapper {
    padding: 40px;
    transition: .3s ease-in-out;
    @include breakpoint(touch) {
        padding: 20px;
        text-align: left;
    }
}

.logo {
    float: left;
    @include breakpoint(touch) {
        float: none;
        display: inline-block;
    }
    h3 {
        font-weight: 700;
        transition: .3s ease-in-out;
        span {
            color: $red;
        }
        @include breakpoint(phone) {
            font-size: 36px;
        }
    }
    @include hover {
        h3 {
            color: $red;
        }
    }
}

.menu {
    width: 24px;
    height: 18px;
    display: block;
    float: right;
    margin-top: 14px;
    position: relative;
    z-index: 1001;
    background: transparent;
    transition: .3s ease-in-out;
    .menu__line {
        width: 100%;
        height: 2px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: $white;
        border-radius: 5px;
        transition: .3s ease-in-out;
        &:nth-of-type(2) {
            @include align(absolute, y);
        }
        &:last-of-type {
            top: auto;
            bottom: 0;
        }
        &.active {
            @include align(absolute, y);
            transform: rotate(45deg);
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:last-of-type {
                transform: rotate(-45deg);
            }
        }
    }
    @include breakpoint(desktop) {
        display: none;
    }
}

.nav {
    float: right;
    margin-top: 14px;
    transition: .3s ease-in-out;
    @include breakpoint(touch) {
        float: none;
        width: calc(100% - 64px);
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        margin-top: 0;
        background: $red;
        overflow: hidden;
        &.active {
            left: 0;
        }
    }
    .nav__list {
        @extend %clearfix;
        @include breakpoint(touch) {
            @include align(absolute, xy);
        }
        .nav__list-item {
            float: left;
            position: relative;
            margin: 0 15px;
            @include breakpoint(touch) {
                float: none;
                text-align: center;
                margin: 25px 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
            .nav__list-item-link {
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                color: $white;
                transition: .3s ease-in-out;
                @include breakpoint(touch) {
                    font-size: 20px;
                }
                &::after {
                    @include align(absolute, x);
                    bottom: -7px;
                    content: '';
                    width: 0;
                    opacity: 0;
                    height: 2px;
                    display: block;
                    background: transparent;
                    transition: .3s ease-in-out;
                }
                @include hover {
                    color: $red;
                    &::after {
                        width: calc(100% + 16px);
                        opacity: 1;
                        background: $red;
                    }
                }
            }
        }
    }
}
