// ---------- Hero ---------- //

.home {
    width: 50%;
    margin-top: 120px;
    position: relative;
    z-index: 1;
    @include breakpoint(phone) {
        width: 100%;
        margin-top: 70px;
        text-align: center;
    }
    @include breakpoint(landscape) {
        width: 100%;
        margin-top: 70px;
        text-align: center;
    }
}

.home__title {
    margin-bottom: 37px;
    @include breakpoint(touch) {
        margin-bottom: 17px;
    }
    @include breakpoint(phone) {
        margin-bottom: 7px;
    }
}

.home__description {
    margin-bottom: 47px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    > span {
        font-weight: 700;
    }
    @include breakpoint(touch) {
        margin-bottom: 27px;
        font-size: 16px;
        line-height: 26px;
    }
    @include breakpoint(phone) {
        margin-bottom: 17px;
        text-align: center;
    }
    @include breakpoint(landscape) {
        text-align: center;
    }
}

.home__btn-wrap {
    display: flex;
    @include breakpoint(phone) {
        flex-direction: column;
        align-items: center;
    }
    @include breakpoint(landscape) {
        justify-content: center;
    }
}

.home__btn {
    margin: 0 10px;
    @include breakpoint(touch) {
        margin: 0 5px;
    }
    @include breakpoint(phone) {
        margin: 5px 0;
    }
}

.home__btn--contact {
    margin-left: 0;
    @include breakpoint(phone) {
        margin-top: 0;
    }
}

.home__btn--projects {
    margin-right: 0;
    @include breakpoint(phone) {
        margin-bottom: 0;
    }
}

.avatar {
    height: 850px;
    position: absolute;
    bottom: 0;
    right: 20px;
    pointer-events: none;
    @include breakpoint(touch) {
        height: 700px;
    }
    @include breakpoint(phone) {
        @include align(absolute, x);
        height: 500px;
        opacity: 0.3;
    }
    @include breakpoint(landscape) {
        display: none;
    }
}
