// ---------- Input styles ---------- //

input[type=text],
input[type=email],
textarea {
    width: 100%;
    font-size: 13px;
    font-family: $font-default;
    font-weight: 400;
    line-height: normal;
	letter-spacing: normal;
    color: $nero;
    background: $bg;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba($color: ($nero), $alpha: .2) 0 3px 5px;
    transition: .3s ease-in-out;
	&::placeholder {
		transition: .3s ease-in-out;
	}
	&:focus::placeholder {
		color: transparent;
	}
}

input[type=text],
input[type=email] {
    height: 40px;
    padding: 12px 40px;
}

textarea {
    height: 150px;
    padding: 11px 10px;
    resize: none;
	overflow: hidden;
	overflow-wrap: break-word;
}
