// ---------- Testimonials styles ---------- //

.testimonials__wrapper {
    padding: 40px;
}

.testimonials__slider-container {
    margin-top: 80px;
}

.testimonials__slide-inner {
    width: 100%;
    max-width: 850px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba($color: ($nero), $alpha: .2) 0 3px 5px;
    background: $white;
}

.testimonials__slide-inner-review {
    width: 60%;
    max-width: 450px;
    > h5 {
        text-transform: none;
        &:last-of-type {
            margin-top: 47px;
        }
    }
    > p {
        margin-top: 48px;
        line-height: 22px;
    }
    > h6 {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
    }
}

.testimonials__slide-inner-review-avatar {
    @extend %clearfix;
    margin-top: 50px;
    .testimonials__slide-inner-review-avatar-rectangle {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        float: left;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        img {
            transition: .3s ease-in-out;
        }
        @include hover {
            img {
                transform: scale(1.15);
            }
        }
    }
}

.testimonials__slide-inner-avatar {
    width: 40%;
    .testimonials__slide-inner-avatar-wrapper {
        width: 100%;
        display: inline-block;
        position: relative;
        text-align: center;
        .testimonials__slide-inner-avatar-wrapper-shape {
            max-width: 220px;
            margin-top: 20px;
            margin-left: 35px;
        }
        .testimonials__slide-inner-avatar-wrapper-rectangle {
            @include align(absolute, xy);
            top: calc(50% - 25px);
            left: calc(50% + 18px);
            width: 180px;
            height: 180px;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid $white;
            img {
                @include align(absolute, xy);
                width: 180px;
                height: 180px;
                transition: .3s ease-in-out;
            }
            @include hover {
                img {
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }
        }
    }
}

.testimonials__slider-pagination {
    margin-top: 40px;
    text-align: center;
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        margin: 0 7.5px !important;
        background: $red;
        box-shadow: rgba($color: ($nero), $alpha: .2) 0 3px 5px;
        transition: .3s ease-in-out;
        &:focus {
            outline: none;
        }
        @include hover {
            background: $red;
        }
        &.swiper-pagination-bullet-active {
            width: 30px;
            border-radius: 25px;
            @include hover {
                background: $darkRed;
            }
        }
    }
}

.testimonials__slider-next,
.testimonials__slider-prev {
    @include align(absolute, y);
    top: calc(50% - 34px);
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba($color: ($nero), $alpha: .2) 0 3px 5px;
    background: $white;
    cursor: pointer;
    transition: .3s ease-in-out;
    &:focus {
        outline: none;
    }
    .icon {
        @include align(absolute, xy);
        top: calc(50% + 2px);
        left: calc(50% + 1px);
        font-size: 26px;
        color: $nero;
    }
    &.testimonials__slider-prev {
        .icon {
            left: 50%;
        }
    }
    &.testimonials__slider-next {
        right: 0;
    }
    &.swiper-button-disabled {
        background: $silver;
    }
    @include hover {
        background: $silver;
    }
}
