// ---------- Variables ---------- //

$font-default: 'Roboto';

// ---------- White ---------- //

$white: #fff;
$smokeWhite: #f5f5f5;

// ---------- Black ---------- //

$black: #000;
$noir: #202020;
$nero: #404040;

// ---------- Gray ---------- //

$lightGray: #e8e8e8;
$gray: #999;
$darkGray: #808080;

// ---------- Blue ---------- //

$blue: #007cc7;
$darkBlue: #005c94;

// ---------- Green ---------- //

$green: #00bfa6;
$darkGreen: #008c7a;

// ---------- SCSS/CSS var ---------- //

// :root {
//     --primary:          #{$blue};
//     --primary-dark:     #{$darkBlue};
//     --secondary:        #{$white};
//     --secondary-dark:   #{$smokeWhite};
//     --tertiary-light:   #{$nero};
//     --tertiary:         #{$noir};
//     --tertiary-dark:    #{$black};
//     --quaternary-light: #{$lightGray};
//     --quaternary:       #{$gray};
//     --quaternary-dark:  #{$darkGray};
// }

// // ---------- Theme ---------- //

// $primary:           var(--primary);
// $primary-dark:      var(--primary-dark);
// $secondary:         var(--secondary);
// $secondary-dark:    var(--secondary-dark);
// $tertiary-light:    var(--tertiary-light);
// $tertiary:          var(--tertiary);
// $tertiary-dark:     var(--tertiary-dark);
// $quaternary-light:  var(--quaternary-light);
// $quaternary:        var(--quaternary);
// $quaternary-dark:   var(--quaternary-dark);

// .dark-mode {
//     --primary:          #{$green};
//     --primary-dark:     #{$darkGreen};
//     --secondary:        #{$nero};
//     --secondary-dark:   #{$noir};
//     --tertiary-light:   #{$smokeWhite};
//     --tertiary:         #{$white};
// }
