// ---------- Variables ---------- //

$font-default: 'Encode Sans';
$font-heading: 'Encode Sans';

// ---------- White ---------- //

$white: #fff;
$smokeWhite: #f5f5f5;

// ---------- Black ---------- //

$black: #000;
$noir: #202020;
$nero: #404040;

// ---------- Gray ---------- //

$gray: #ebebeb;
$lightGray: #eee;
$darkGray: #424242;
$smokeGray: #777;

// ---------- Blue ---------- //

$blue: #007fff;
$lightBlue: #03a9f4;
$darkBlue: #1565c0;


// ---------- SCSS/CSS var ---------- //

:root {
    --white: #{$white};
    --smoke-white: #{$smokeWhite};
    --black: #{$black};
    --noir: #{$noir};
    --nero: #{$nero};
    --gray: #{$gray};
    --light-gray: #{$lightGray};
    --dark-gray: #{$darkGray};
    --smoke-gray: #{$smokeGray};
    --blue: #{$blue};
    --light-blue: #{$lightBlue};
    --dark-blue: #{$darkBlue};
}
