<header class="header" id="header" role="header">
    <div class="wrapper header__wrapper">
        <a href="javascript:;" class="logo">
            <h3>Stiv<span>codes</span></h3>
        </a>
        <button class="menu">
            <span class="menu__line"></span>
            <span class="menu__line"></span>
            <span class="menu__line"></span>
        </button>
        <nav class="nav" id="nav" role="navigation">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a href="javascript:;" class="nav__list-item-link">Home</a>
                </li>
                <li class="nav__list-item">
                    <a href="javascript:;" class="nav__list-item-link">About</a>
                </li>
                <li class="nav__list-item">
                    <a href="javascript:;" class="nav__list-item-link">Services</a>
                </li>
                <li class="nav__list-item">
                    <a href="javascript:;" class="nav__list-item-link">Portfolio</a>
                </li>
                <li class="nav__list-item">
                    <a href="javascript:;" class="nav__list-item-link">Blog</a>
                </li>
                <li class="nav__list-item">
                    <a href="javascript:;" class="nav__list-item-link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>