<section id="about" class="container">
    <div class="wrap wrap--flex wrap--flex-dir-col-rev">
        <div class="about">
            <h3 class="about__title" data-aos="fade-down" data-aos-delay="800">Who am i & what i do?</h3>
            <div class="about__description-wrap">
                <p class="about__description" data-aos="fade-right" data-aos-delay="1400">I am computer programmer who specialize in website design and development. My duties include determining the structure and design of your web pages, striking a balance between functional and aesthetic design, and ensuring web design is optimized for touch devices.</p>
                <p class="about__description" data-aos="fade-right" data-aos-delay="1600">I specialize in making things for my clients. Most of the things I make are digital interfaces, but I also put effort into web design.</p>
                <p class="about__description" data-aos="fade-right" data-aos-delay="1800">I'll fulfill your ideas and suggestions, combine it with my expertise and create you a 'User-Friendly', 'Easy-to-Use', clean and memorable website that will leave a powerful impression on users.</p>
            </div>
            <div class="aos-wrap" data-aos="fade-up" data-aos-delay="2200">
                <a href="javascript:;" download="resume-17-07-21-b-w-edition" class="btn btn--blue about__btn">Download cv</a>
            </div>
        </div>
        <div class="about__img-wrap">
            <img src="./././assets/images/dist/about-devices.png" alt="All devices that can show responsive design" data-aos="fade-left" class="about__img">
        </div>
    </div>
</section>
