<section id="blog" class="container">
    <div class="wrap">
        <div class="heading-main heading-main--margin-b-57">
            <h3 class="heading-main__title" data-aos="fade-right">See our latest blogs</h3>
            <p class="heading-main__description" data-aos="fade-left" data-aos-delay="500">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div>
        <div class="flex-col blog" data-aos="zoom-in-down" data-aos-delay="1000">
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/pg-vacation.jpg" alt="Man sitting on the river's bridge" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">Going To Vacation</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">May 3rd, 2021.</h6>
                </div>
            </div>
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/des-modern.jpg" alt="Augur website design template" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">Modern Design</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">April 27th, 2021.</h6>
                </div>
            </div>
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/dev-msn.png" alt="Man typing on the keyboard" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">Making Something New</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">April 18th, 2021.</h6>
                </div>
            </div>
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/dev-alexis.jpg" alt="Alexis website design template" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">Developing Alexis</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">April 11th, 2021.</h6>
                </div>
            </div>
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/dev-react.jpg" alt="Man sitting on the river's bridge" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">React Library</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">April 1st, 2021.</h6>
                </div>
            </div>
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/dev-gulp.png" alt="Augur website design template" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">Gulp Starter Kit</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">March 23rd, 2021.</h6>
                </div>
            </div>
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/dev-finish.jpg" alt="Man typing on the keyboard" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">Crossing 50th</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">March 7th, 2021.</h6>
                </div>
            </div>
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/dev-intel-vs-ryzen.jpg" alt="Alexis website design template" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">AMD vs Intel - Who's better?</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">March 1st, 2021.</h6>
                </div>
            </div>
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/dev-react.jpg" alt="Man sitting on the river's bridge" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">React Library</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">April 1st, 2021.</h6>
                </div>
            </div>
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/dev-gulp.png" alt="Augur website design template" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">Gulp Starter Kit</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">March 23rd, 2021.</h6>
                </div>
            </div>
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/dev-finish.jpg" alt="Man typing on the keyboard" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">Crossing 50th</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">March 7th, 2021.</h6>
                </div>
            </div>
            <div class="flex-col__item-25 blog__item">
                <div class="blog__img-wrap">
                    <img src="./././assets/images/dist/dev-intel-vs-ryzen.jpg" alt="Alexis website design template" class="blog__img">
                </div>
                <div class="blog__main">
                    <a href="javascript:;" class="blog__link">AMD vs Intel - Who's better?</a>
                    <p class="blog__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
                </div>
                <div class="blog__footer">
                    <h6 class="blog__author">By <span>Stevan Stojić</span></h6>
                    <h6 class="blog__date">March 1st, 2021.</h6>
                </div>
            </div>
        </div>
        <div class="blog__btn-wrap" data-aos="fade-up" data-aos-delay="1500">
            <button class="btn btn--gray blog__btn blog__btn--show-less">Show less</button>
            <button class="btn btn--blue blog__btn blog__btn--show-more">Show more</button>
        </div>
    </div>
</section>