<section id="contact" class="container">
    <div class="wrap">
        <div class="heading-main heading-main--margin-b-57">
            <h3 class="heading-main__title" data-aos="fade-right">Get in touch</h3>
            <p class="heading-main__description" data-aos="fade-left" data-aos-delay="500">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div>
        <div class="contact" data-aos="fade-down">
            <div class="contact-info" data-aos="fade" data-aos-delay="500">
                <h5 class="contact-info__title" data-aos="fade-right" data-aos-delay="600">Contact information</h5>
                <div class="contact-info__data-wrap">
                    <div class="contact-info__data">
                        <span class="icon font-icon-location contact-info__icon" data-aos="fade-right" data-aos-delay="600"></span>
                        <div class="contact-info__meta">
                            <h6 class="contact-info__text" data-aos="fade-right" data-aos-delay="600">360 King Street</h6>
                            <h6 class="contact-info__text" data-aos="fade-right" data-aos-delay="600">Feasterville Trevose, PA 19053</h6>
                        </div>
                    </div>
                    <div class="contact-info__data">
                        <span class="icon font-icon-mobile contact-info__icon" data-aos="fade-right" data-aos-delay="600"></span>
                        <div class="contact-info__meta">
                            <h6 class="contact-info__text" data-aos="fade-right" data-aos-delay="600">(012) 34-567-89-01</h6>
                        </div>
                    </div>
                    <div class="contact-info__data">
                        <span class="icon font-icon-mail contact-info__icon contact-info__icon--mod" data-aos="fade-right" data-aos-delay="600"></span>
                        <div class="contact-info__meta contact-info__meta--mg-left">
                            <h6 class="contact-info__text" data-aos="fade-right" data-aos-delay="600">stojicstevan.info@gmail.com</h6>
                        </div>
                    </div>
                </div>
                <div class="social__box contact-social__icon-wrap">
                    <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="600" class="social__link contact-social__link">
                        <span class="icon font-icon-facebook social__icon contact-social__icon"></span>
                    </a>
                    <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="650" class="social__link contact-social__link">
                        <span class="icon font-icon-twitter social__icon contact-social__icon"></span>
                    </a>
                    <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="700" class="social__link contact-social__link">
                        <span class="icon font-icon-google social__icon contact-social__icon"></span>
                    </a>
                    <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="750" class="social__link contact-social__link">
                        <span class="icon font-icon-github social__icon contact-social__icon"></span>
                    </a>
                </div>
            </div>
            <div class="contact-form" data-aos="zoom-in" data-aos-delay="500">
                <h5 class="contact-form__title" data-aos="fade-right" data-aos-delay="600">Send us a message</h5>
                <form action="javascript:;" autocomplete="off" class="form">
                    <div class="form__item" data-aos="zoom-in" data-aos-delay="600">
                        <span class="icon font-icon-user form__icon"></span>
                        <label for="name" class="form__label">Your Name</label>
                        <input type="text" name="name" required class="input form__input">
                    </div>
                    <div class="form__item" data-aos="zoom-in" data-aos-delay="700" data-aos-offset="-100">
                        <span class="icon font-icon-mail form__icon"></span>
                        <label for="email" class="form__label">E-mail</label>
                        <input type="email" name="email" required class="input form__input">
                    </div>
                    <div class="form__item" data-aos="zoom-in" data-aos-delay="800" data-aos-offset="-200">
                        <span class="icon font-icon-mobile form__icon"></span>
                        <label for="phone" class="form__label">Phone</label>
                        <input type="text" name="phone" class="input form__input">
                    </div>
                    <div class="form__item" data-aos="zoom-in" data-aos-delay="900" data-aos-offset="-300">
                        <span class="icon font-icon-briefcase form__icon"></span>
                        <label for="company" class="form__label">Company</label>
                        <input type="text" name="company" class="input form__input">
                    </div>
                    <div class="form__item form__item--full-width form__item--height-auto" data-aos="zoom-in" data-aos-offset="-400" data-aos-delay="1000">
                        <span class="icon font-icon-chat form__icon form__icon--position"></span>
                        <label for="message" class="form__label form__label--position form__label--pos-y">Message</label>
                        <textarea name="message" id="form-message" class="textarea form__textarea"></textarea>
                    </div>
                    <div class="aos-wrap" data-aos="fade-up" data-aos-offset="-400" data-aos-delay="1200">
                        <button type="submit" class="btn btn--blue form__btn">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>