<section id="contact" class="container">
    <div class="wrap">
        <div class="heading-main heading-main--mg-bottom">
            <h3 class="heading-main__title">Get in touch</h3>
            <p class="heading-main__description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div>
        <div class="contact">
            <div class="contact-info">
                <h5 class="contact-info__title">Contact information</h5>
                <div class="contact-info__data-wrap">
                    <div class="contact-info__data">
                        <span class="icon font-icon-location contact-info__icon"></span>
                        <div class="contact-info__meta">
                            <h6 class="contact-info__text">360 King Street</h6>
                            <h6 class="contact-info__text">Feasterville Trevose, PA 19053</h6>
                        </div>
                    </div>
                    <div class="contact-info__data">
                        <span class="icon font-icon-mobile contact-info__icon"></span>
                        <div class="contact-info__meta">
                            <h6 class="contact-info__text">(012) 34-567-89-01</h6>
                        </div>
                    </div>
                    <div class="contact-info__data">
                        <span class="icon font-icon-mail contact-info__icon contact-info__icon--mod"></span>
                        <div class="contact-info__meta contact-info__meta--mg-left">
                            <h6 class="contact-info__text">stojicstevan.info@gmail.com</h6>
                        </div>
                    </div>
                </div>
                <div class="social__box contact-social__social">
                    <a href="javascript:;" target="_blank" class="social__link contact-social__link">
                        <span class="icon font-icon-facebook social__icon contact-social__icon"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="social__link contact-social__link">
                        <span class="icon font-icon-twitter social__icon contact-social__icon"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="social__link contact-social__link">
                        <span class="icon font-icon-google social__icon contact-social__icon"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="social__link contact-social__link">
                        <span class="icon font-icon-github social__icon contact-social__icon"></span>
                    </a>
                </div>
            </div>
            <div class="contact-form">
                <h5 class="contact-form__title">Send us a message</h5>
                <form action="javascript:;" autocomplete="off" class="form">
                    <div class="form__item">
                        <span class="icon font-icon-user form__icon"></span>
                        <label for="name" class="form__label">Your Name</label>
                        <input type="text" name="name" class="input form__input">
                    </div>
                    <div class="form__item">
                        <span class="icon font-icon-mail form__icon"></span>
                        <label for="email" class="form__label">E-mail</label>
                        <input type="email" name="email" class="input form__input">
                    </div>
                    <div class="form__item">
                        <span class="icon font-icon-mobile form__icon"></span>
                        <label for="phone" class="form__label">Phone</label>
                        <input type="text" name="phone" class="input form__input">
                    </div>
                    <div class="form__item">
                        <span class="icon font-icon-briefcase form__icon"></span>
                        <label for="company" class="form__label">Company</label>
                        <input type="text" name="company" class="input form__input">
                    </div>
                    <div class="form__item form__item--full-width form__item--height-auto">
                        <span class="icon font-icon-chat form__icon form__icon--position"></span>
                        <label for="message" class="form__label form__label--position form__label--pos-y">Message</label>
                        <textarea name="message" id="form-message" class="textarea form__textarea"></textarea>
                    </div>
                    <button type="submit" class="btn btn--blue form__btn">Send message</button>
                </form>
            </div>
        </div>
    </div>
</section>