<section id="portfolio" class="container">
    <div class="wrap wrap--pd-bottom-60">
        <div class="heading-main heading-main--mg-bottom">
            <h3 class="heading-main__title">Show of my work</h3>
            <p class="heading-main__description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div>
        <div class="filter">
            <div class="filter__btn-wrap">
                <button class="filter__btn active" data-filter="all">All items</button>
                <button class="filter__btn" data-filter="web-design">Web design</button>
                <button class="filter__btn" data-filter="print-design">Print design</button>
                <button class="filter__btn" data-filter="photography">Photography</button>
            </div>
        </div>
        <div class="flex-col filter-cards">
            <div class="flex-col__item-33 filter-cards__item" data-filter="print-design">
                <div class="filter-cards__img-wrap">
                    <img src="./././assets/images/dist/des-card.png" alt="Business card design on the table" class="filter-cards__img">
                    <div class="filter-cards__overlay">
                        <button class="filter-cards__btn">
                            <span class="icon font-icon-zoom-in filter-cards__icon"></span>
                        </button>
                    </div>
                </div>
                <div class="filter-cards-meta">
                    <div class="filter-cards-meta__heading">
                        <h5 class="filter-cards-meta__title">Business Card</h5>
                        <h6 class="filter-cards-meta__sub-title">Print Design</h6>
                    </div>
                    <button class="filter-cards-meta__btn">
                        <span class="icon font-icon-heart-empty filter-cards-meta__icon filter-cards-meta__icon--empty active"></span>
                        <span class="icon font-icon-heart-filled filter-cards-meta__icon filter-cards-meta__icon--filled"></span>
                    </button>
                </div>
            </div>
            <div class="flex-col__item-33 filter-cards__item" data-filter="web-design">
                <div class="filter-cards__img-wrap">
                    <img src="./././assets/images/dist/dev-alexis.jpg" alt="Alexis website design template" class="filter-cards__img">
                    <div class="filter-cards__overlay">
                        <button class="filter-cards__btn">
                            <span class="icon font-icon-zoom-in filter-cards__icon"></span>
                        </button>
                    </div>
                </div>
                <div class="filter-cards-meta">
                    <div class="filter-cards-meta__heading">
                        <h5 class="filter-cards-meta__title">Alexis</h5>
                        <h6 class="filter-cards-meta__sub-title">Web Design</h6>
                    </div>
                    <button class="filter-cards-meta__btn">
                        <span class="icon font-icon-heart-empty filter-cards-meta__icon filter-cards-meta__icon--empty active"></span>
                        <span class="icon font-icon-heart-filled filter-cards-meta__icon filter-cards-meta__icon--filled"></span>
                    </button>
                </div>
            </div>
            <div class="flex-col__item-33 filter-cards__item" data-filter="print-design">
                <div class="filter-cards__img-wrap">
                    <img src="./././assets/images/dist/des-resume.png" alt="Resume design on the table" class="filter-cards__img">
                    <div class="filter-cards__overlay">
                        <button class="filter-cards__btn">
                            <span class="icon font-icon-zoom-in filter-cards__icon"></span>
                        </button>
                    </div>
                </div>
                <div class="filter-cards-meta">
                    <div class="filter-cards-meta__heading">
                        <h5 class="filter-cards-meta__title">Resume (CV)</h5>
                        <h6 class="filter-cards-meta__sub-title">Print Design</h6>
                    </div>
                    <button class="filter-cards-meta__btn">
                        <span class="icon font-icon-heart-empty filter-cards-meta__icon filter-cards-meta__icon--empty active"></span>
                        <span class="icon font-icon-heart-filled filter-cards-meta__icon filter-cards-meta__icon--filled"></span>
                    </button>
                </div>
            </div>
            <div class="flex-col__item-33 filter-cards__item" data-filter="photography">
                <div class="filter-cards__img-wrap">
                    <img src="./././assets/images/dist/pg-sunset.jpg" alt="Man sitting on the rock in the sea" class="filter-cards__img">
                    <div class="filter-cards__overlay">
                        <button class="filter-cards__btn">
                            <span class="icon font-icon-zoom-in filter-cards__icon"></span>
                        </button>
                    </div>
                </div>
                <div class="filter-cards-meta">
                    <div class="filter-cards-meta__heading">
                        <h5 class="filter-cards-meta__title">Sunset On Sea</h5>
                        <h6 class="filter-cards-meta__sub-title">Photography</h6>
                    </div>
                    <button class="filter-cards-meta__btn">
                        <span class="icon font-icon-heart-empty filter-cards-meta__icon filter-cards-meta__icon--empty active"></span>
                        <span class="icon font-icon-heart-filled filter-cards-meta__icon filter-cards-meta__icon--filled"></span>
                    </button>
                </div>
            </div>
            <div class="flex-col__item-33 filter-cards__item" data-filter="print-design">
                <div class="filter-cards__img-wrap">
                    <img src="./././assets/images/dist/des-logo.png" alt="Logo design template" class="filter-cards__img">
                    <div class="filter-cards__overlay">
                        <button class="filter-cards__btn">
                            <span class="icon font-icon-zoom-in filter-cards__icon"></span>
                        </button>
                    </div>
                </div>
                <div class="filter-cards-meta">
                    <div class="filter-cards-meta__heading">
                        <h5 class="filter-cards-meta__title">Cristal Studio</h5>
                        <h6 class="filter-cards-meta__sub-title">Print Design</h6>
                    </div>
                    <button class="filter-cards-meta__btn">
                        <span class="icon font-icon-heart-empty filter-cards-meta__icon filter-cards-meta__icon--empty active"></span>
                        <span class="icon font-icon-heart-filled filter-cards-meta__icon filter-cards-meta__icon--filled"></span>
                    </button>
                </div>
            </div>
            <div class="flex-col__item-33 filter-cards__item" data-filter="photography">
                <div class="filter-cards__img-wrap">
                    <img src="./././assets/images/dist/pg-woods.jpg" alt="Woods covered in mist" class="filter-cards__img">
                    <div class="filter-cards__overlay">
                        <button class="filter-cards__btn">
                            <span class="icon font-icon-zoom-in filter-cards__icon"></span>
                        </button>
                    </div>
                </div>
                <div class="filter-cards-meta">
                    <div class="filter-cards-meta__heading">
                        <h5 class="filter-cards-meta__title">Misty Woods</h5>
                        <h6 class="filter-cards-meta__sub-title">Photography</h6>
                    </div>
                    <button class="filter-cards-meta__btn">
                        <span class="icon font-icon-heart-empty filter-cards-meta__icon filter-cards-meta__icon--empty active"></span>
                        <span class="icon font-icon-heart-filled filter-cards-meta__icon filter-cards-meta__icon--filled"></span>
                    </button>
                </div>
            </div>
            <div class="flex-col__item-33 filter-cards__item" data-filter="web-design">
                <div class="filter-cards__img-wrap">
                    <img src="./././assets/images/dist/dev-hexagon.jpg" alt="Hexagon website design template" class="filter-cards__img">
                    <div class="filter-cards__overlay">
                        <button class="filter-cards__btn">
                            <span class="icon font-icon-zoom-in filter-cards__icon"></span>
                        </button>
                    </div>
                </div>
                <div class="filter-cards-meta">
                    <div class="filter-cards-meta__heading">
                        <h5 class="filter-cards-meta__title">Hexagon</h5>
                        <h6 class="filter-cards-meta__sub-title">Web Design</h6>
                    </div>
                    <button class="filter-cards-meta__btn">
                        <span class="icon font-icon-heart-empty filter-cards-meta__icon filter-cards-meta__icon--empty active"></span>
                        <span class="icon font-icon-heart-filled filter-cards-meta__icon filter-cards-meta__icon--filled"></span>
                    </button>
                </div>
            </div>
            <div class="flex-col__item-33 filter-cards__item" data-filter="photography">
                <div class="filter-cards__img-wrap">
                    <img src="./././assets/images/dist/pg-coffee.jpeg" alt="Serving a cup of coffee" class="filter-cards__img">
                    <div class="filter-cards__overlay">
                        <button class="filter-cards__btn">
                            <span class="icon font-icon-zoom-in filter-cards__icon"></span>
                        </button>
                    </div>
                </div>
                <div class="filter-cards-meta">
                    <div class="filter-cards-meta__heading">
                        <h5 class="filter-cards-meta__title">Coffee Time</h5>
                        <h6 class="filter-cards-meta__sub-title">Photography</h6>
                    </div>
                    <button class="filter-cards-meta__btn">
                        <span class="icon font-icon-heart-empty filter-cards-meta__icon filter-cards-meta__icon--empty active"></span>
                        <span class="icon font-icon-heart-filled filter-cards-meta__icon filter-cards-meta__icon--filled"></span>
                    </button>
                </div>
            </div>
            <div class="flex-col__item-33 filter-cards__item" data-filter="web-design">
                <div class="filter-cards__img-wrap">
                    <img src="./././assets/images/dist/dev-healtland.png" alt="Healtland website design template" class="filter-cards__img">
                    <div class="filter-cards__overlay">
                        <button class="filter-cards__btn">
                            <span class="icon font-icon-zoom-in filter-cards__icon"></span>
                        </button>
                    </div>
                </div>
                <div class="filter-cards-meta">
                    <div class="filter-cards-meta__heading">
                        <h5 class="filter-cards-meta__title">Healtland</h5>
                        <h6 class="filter-cards-meta__sub-title">Web Design</h6>
                    </div>
                    <button class="filter-cards-meta__btn">
                        <span class="icon font-icon-heart-empty filter-cards-meta__icon filter-cards-meta__icon--empty active"></span>
                        <span class="icon font-icon-heart-filled filter-cards-meta__icon filter-cards-meta__icon--filled"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>