<section id="services" class="container">
    <div class="heading-sub services-heading" data-aos="fade-down">
        <div class="wrap wrap--padding-50">
            <h4 class="heading-sub__title services-heading__title" data-aos="fade-down">What can i offer for you</h4>
        </div>
    </div>
    <div class="wrap wrap--padding-60">
        <div class="flex-col services">
            <div class="flex-col__item-33 services__item">
                <div class="aos-wrap" data-aos="fade-down">
                    <div class="services__rectangle" data-aos="zoom-in" data-aos-delay="300">
                        <span class="icon font-icon-display services__icon"></span>
                    </div>
                    <h5 class="services__title" data-aos="zoom-in" data-aos-delay="600">Development</h5>
                    <p class="services__description" data-aos="zoom-in" data-aos-delay="900">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
            </div>
            <div class="flex-col__item-33 services__item">
                <div class="aos-wrap" data-aos="fade-down">
                    <div class="services__rectangle" data-aos="zoom-in" data-aos-delay="300">
                        <span class="icon font-icon-leaf services__icon"></span>
                    </div>
                    <h5 class="services__title" data-aos="zoom-in" data-aos-delay="600">Clean code</h5>
                    <p class="services__description" data-aos="zoom-in" data-aos-delay="900">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
            </div>
            <div class="flex-col__item-33 services__item">
                <div class="aos-wrap" data-aos="fade-down">
                    <div class="services__rectangle" data-aos="zoom-in" data-aos-delay="300">
                        <span class="icon font-icon-mobile services__icon"></span>
                    </div>
                    <h5 class="services__title" data-aos="zoom-in" data-aos-delay="600">Responsive</h5>
                    <p class="services__description" data-aos="zoom-in" data-aos-delay="900">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
            </div>
            <div class="flex-col__item-33 services__item">
                <div class="aos-wrap" data-aos="fade-down">
                    <div class="services__rectangle" data-aos="zoom-in" data-aos-delay="300">
                        <span class="icon font-icon-key services__icon"></span>
                    </div>
                    <h5 class="services__title" data-aos="zoom-in" data-aos-delay="600">Full support</h5>
                    <p class="services__description" data-aos="zoom-in" data-aos-delay="900">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
            </div>
            <div class="flex-col__item-33 services__item">
                <div class="aos-wrap" data-aos="fade-down">
                    <div class="services__rectangle" data-aos="zoom-in" data-aos-delay="300">
                        <span class="icon font-icon-pencil services__icon"></span>
                    </div>
                    <h5 class="services__title" data-aos="zoom-in" data-aos-delay="600">Crafted design</h5>
                    <p class="services__description" data-aos="zoom-in" data-aos-delay="900">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
            </div>
            <div class="flex-col__item-33 services__item">
                <div class="aos-wrap" data-aos="fade-down">
                    <div class="services__rectangle" data-aos="zoom-in" data-aos-delay="300">
                        <span class="icon font-icon-seo services__icon"></span>
                    </div>
                    <h5 class="services__title" data-aos="zoom-in" data-aos-delay="600">Seo optimization</h5>
                    <p class="services__description" data-aos="zoom-in" data-aos-delay="900">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
