<section id="services" class="container">
    <div class="services">
        <div class="services-heading">
            <div class="wrap wrap--pd-50">
                <h4 class="services-heading__h4">What can i offer for you</h4>
            </div>
        </div>
        <div class="wrap wrap--pd-60">
            <div class="services-cards">
                <div class="services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-display services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__h5">Development</h5>
                    <p class="services-cards-desc">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
                <div class="services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-leaf services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__h5">Clean code</h5>
                    <p class="services-cards-desc">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
                <div class="services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-mobile services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__h5">Responsive</h5>
                    <p class="services-cards-desc">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
                <div class="services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-key services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__h5">Full support</h5>
                    <p class="services-cards-desc">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
                <div class="services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-pencil services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__h5">Crafted design</h5>
                    <p class="services-cards-desc">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
                <div class="services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-seo services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__h5">Seo optimization</h5>
                    <p class="services-cards-desc">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>