<section id="services" class="container">
    <div class="services">
        <div class="heading-sub services__heading">
            <div class="wrap wrap--pd-50">
                <h4 class="heading-sub__title services__title">What can i offer for you</h4>
            </div>
        </div>
        <div class="wrap wrap--pd-60">
            <div class="flex-col services-cards">
                <div class="flex-col__item-33 services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-display services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__title">Development</h5>
                    <p class="services-cards__description">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
                <div class="flex-col__item-33 services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-leaf services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__title">Clean code</h5>
                    <p class="services-cards__description">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
                <div class="flex-col__item-33 services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-mobile services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__title">Responsive</h5>
                    <p class="services-cards__description">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
                <div class="flex-col__item-33 services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-key services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__title">Full support</h5>
                    <p class="services-cards__description">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
                <div class="flex-col__item-33 services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-pencil services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__title">Crafted design</h5>
                    <p class="services-cards__description">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
                <div class="flex-col__item-33 services-cards__item">
                    <div class="services-cards__rectangle">
                        <span class="icon font-icon-seo services-cards__icon"></span>
                    </div>
                    <h5 class="services-cards__title">Seo optimization</h5>
                    <p class="services-cards__description">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit nec sagittis sem nibh id elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
