<section id="skills" class="container container--bg-white">
    <div class="wrap">
        <div class="heading-main skills-heading">
            <h3 class="heading-main__title skills-heading__title" data-aos="fade-right">Expertise skills</h3>
            <p class="heading-main__description skills-heading__description" data-aos="fade-left" data-aos-delay="500">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
        </div>
        <div class="skills-card" data-aos="flip-left" data-aos-offset="-200">
            <div class="skills-card__img-wrap" data-aos="zoom-in" data-aos-delay="800" data-aos-offset="-100">
                <img src="./././assets/images/dist/avatar-main.png" alt="Avatar of this website's creator" class="skills-card__img">
            </div>
            <div class="skills-card__info" data-aos="zoom-in" data-aos-delay="500" data-aos-offset="-100">
                <h5 class="skills-card__profile" data-aos="fade-down" data-aos-delay="600" data-aos-offset="-100">Front-End Developer</h5>
                <h6 class="skills-card__name" data-aos="fade-up" data-aos-delay="700" data-aos-offset="-100">Stevan Stojić</h6>
            </div>
        </div>
    </div>
    <div class="expertise" data-aos="zoom-out-up">
        <div class="wrap wrap--flex-center-all wrap--block">
            <div class="expertise-info">
                <h5 class="expertise-info__name" data-aos="fade-up" data-aos-delay="200">Stevan Stojić</h5>
                <h5 class="expertise-info__profile" data-aos="fade-up" data-aos-delay="300">Front-End Developer</h5>
                <p class="expertise-info__description" data-aos="fade-up" data-aos-delay="400">Lorem tincidunt placerat ligula sed vestibulum. Phasellus nec enim ac enim congue tincidunt. Curabitur molestie urna justo, quis varius ictum.</p>
                <div class="social__box expertise-info__social">
                    <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="500" class="social__link expertise-info__link">
                        <span class="icon font-icon-facebook social__icon expertise-info__icon"></span>
                    </a>
                    <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="550" class="social__link expertise-info__link">
                        <span class="icon font-icon-twitter social__icon expertise-info__icon"></span>
                    </a>
                    <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="600" class="social__link expertise-info__link">
                        <span class="icon font-icon-google social__icon expertise-info__icon"></span>
                    </a>
                    <a href="javascript:;" target="_blank" data-aos="fade-up" data-aos-delay="650" class="social__link expertise-info__link">
                        <span class="icon font-icon-github social__icon expertise-info__icon"></span>
                    </a>
                </div>
            </div>
            <div class="expertise-level">
                <div class="expertise-level__item">
                    <div class="expertise-level__meta">
                        <h6 class="expertise-level__title" data-aos="fade-right" data-aos-delay="200">html</h6>
                        <h6 class="expertise-level__percentage" data-aos="fade-left" data-aos-delay="200">90%</h6>
                    </div>
                    <div class="expertise-level__line-box" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
                        <span class="expertise-level__line expertise-level__line--width-90" data-aos="width" data-aos-delay="500" data-aos-easing="ease-in" data-aos-duration="2000"></span>
                    </div>
                </div>
                <div class="expertise-level__item">
                    <div class="expertise-level__meta">
                        <h6 class="expertise-level__title" data-aos="fade-right" data-aos-delay="200">css/scss</h6>
                        <h6 class="expertise-level__percentage" data-aos="fade-left" data-aos-delay="200">75%</h6>
                    </div>
                    <div class="expertise-level__line-box" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
                        <span class="expertise-level__line expertise-level__line--width-75" data-aos="width" data-aos-delay="500" data-aos-easing="ease-in" data-aos-duration="2000"></span>
                    </div>
                </div>
                <div class="expertise-level__item">
                    <div class="expertise-level__meta">
                        <h6 class="expertise-level__title" data-aos="fade-right" data-aos-delay="200">javascript</h6>
                        <h6 class="expertise-level__percentage" data-aos="fade-left" data-aos-delay="200">65%</h6>
                    </div>
                    <div class="expertise-level__line-box" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
                        <span class="expertise-level__line expertise-level__line--width-65" data-aos="width" data-aos-delay="500" data-aos-easing="ease-in" data-aos-duration="2000"></span>
                    </div>
                </div>
                <div class="expertise-level__item">
                    <div class="expertise-level__meta">
                        <h6 class="expertise-level__title" data-aos="fade-right" data-aos-delay="200">gulp</h6>
                        <h6 class="expertise-level__percentage" data-aos="fade-left" data-aos-delay="200">80%</h6>
                    </div>
                    <div class="expertise-level__line-box" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
                        <span class="expertise-level__line expertise-level__line--width-80" data-aos="width" data-aos-delay="500" data-aos-easing="ease-in" data-aos-duration="2000"></span>
                    </div>
                </div>
                <div class="expertise-level__item">
                    <div class="expertise-level__meta">
                        <h6 class="expertise-level__title" data-aos="fade-right" data-aos-delay="200">react</h6>
                        <h6 class="expertise-level__percentage" data-aos="fade-left" data-aos-delay="200">50%</h6>
                    </div>
                    <div class="expertise-level__line-box" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
                        <span class="expertise-level__line expertise-level__line--width-50" data-aos="width" data-aos-delay="500" data-aos-easing="ease-in" data-aos-duration="2000"></span>
                    </div>
                </div>
                <div class="expertise-level__item">
                    <div class="expertise-level__meta">
                        <h6 class="expertise-level__title" data-aos="fade-right" data-aos-delay="200">photoshop</h6>
                        <h6 class="expertise-level__percentage" data-aos="fade-left" data-aos-delay="200">75%</h6>
                    </div>
                    <div class="expertise-level__line-box" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
                        <span class="expertise-level__line expertise-level__line--width-75" data-aos="width" data-aos-delay="500" data-aos-easing="ease-in" data-aos-duration="2000"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>