<section id="skills" class="container container--bg-white">
    <div class="skills">
        <div class="wrap">
            <div class="heading-main skills__heading">
                <h3 class="heading-main__title skills__title">Expertise skills</h3>
                <p class="heading-main__description skills__description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
            </div>
            <div class="skills-card">
                <div class="skills-card__avatar">
                    <img src="./././assets/images/dist/avatar-main.png" alt="Avatar of this website's creator" class="skills-card__img">
                </div>
                <div class="skills-card__info">
                    <h5 class="skills-card__profile">Front-End Developer</h5>
                    <h6 class="skills-card__name">Stevan Stojić</h6>
                </div>
            </div>
        </div>
        <div class="expertise">
            <div class="wrap wrap--flex-center-all wrap-db">
                <div class="expertise-info">
                    <h5 class="expertise-info__name">Stevan Stojić</h5>
                    <h5 class="expertise-info__profile">Front-End Developer</h5>
                    <p class="expertise-info__description">Lorem tincidunt placerat ligula sed vestibulum. Phasellus nec enim ac enim congue tincidunt. Curabitur molestie urna justo, quis varius ictum.</p>
                    <div class="social__box expertise-info__social">
                        <a href="javascript:;" target="_blank" class="social__link expertise-info__link">
                            <span class="icon font-icon-facebook social__icon expertise-info__icon"></span>
                        </a>
                        <a href="javascript:;" target="_blank" class="social__link expertise-info__link">
                            <span class="icon font-icon-twitter social__icon expertise-info__icon"></span>
                        </a>
                        <a href="javascript:;" target="_blank" class="social__link expertise-info__link">
                            <span class="icon font-icon-google social__icon expertise-info__icon"></span>
                        </a>
                        <a href="javascript:;" target="_blank" class="social__link expertise-info__link">
                            <span class="icon font-icon-github social__icon expertise-info__icon"></span>
                        </a>
                    </div>
                </div>
                <div class="expertise-level">
                    <div class="expertise-level__item">
                        <div class="expertise-level__meta">
                            <h6 class="expertise-level__title">html</h6>
                            <h6 class="expertise-level__percentage">90%</h6>
                        </div>
                        <div class="expertise-level__line-box">
                            <span class="expertise-level__line expertise-level__line--width-90"></span>
                        </div>
                    </div>
                    <div class="expertise-level__item">
                        <div class="expertise-level__meta">
                            <h6 class="expertise-level__title">css/scss</h6>
                            <h6 class="expertise-level__percentage">75%</h6>
                        </div>
                        <div class="expertise-level__line-box">
                            <span class="expertise-level__line expertise-level__line--width-75"></span>
                        </div>
                    </div>
                    <div class="expertise-level__item">
                        <div class="expertise-level__meta">
                            <h6 class="expertise-level__title">javascript</h6>
                            <h6 class="expertise-level__percentage">65%</h6>
                        </div>
                        <div class="expertise-level__line-box">
                            <span class="expertise-level__line expertise-level__line--width-65"></span>
                        </div>
                    </div>
                    <div class="expertise-level__item">
                        <div class="expertise-level__meta">
                            <h6 class="expertise-level__title">gulp</h6>
                            <h6 class="expertise-level__percentage">80%</h6>
                        </div>
                        <div class="expertise-level__line-box">
                            <span class="expertise-level__line expertise-level__line--width-80"></span>
                        </div>
                    </div>
                    <div class="expertise-level__item">
                        <div class="expertise-level__meta">
                            <h6 class="expertise-level__title">react</h6>
                            <h6 class="expertise-level__percentage">50%</h6>
                        </div>
                        <div class="expertise-level__line-box">
                            <span class="expertise-level__line expertise-level__line--width-50"></span>
                        </div>
                    </div>
                    <div class="expertise-level__item">
                        <div class="expertise-level__meta">
                            <h6 class="expertise-level__title">photoshop</h6>
                            <h6 class="expertise-level__percentage">75%</h6>
                        </div>
                        <div class="expertise-level__line-box">
                            <span class="expertise-level__line expertise-level__line--width-75"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>