<section id="slider-theme" class="container cover-bg cover-bg--att-fix container--overlay" style="background-image: url(./././assets/images/dist/slider-bg.jpg);" data-aos="zoom-in">
    <div class="wrap">
        <div class="swiper-container slider-theme-container">
            <div class="swiper-wrapper slider-theme-wrapper">
                <div class="swiper-slide slider-theme__slide" data-aos="fade" data-aos-delay="300">
                    <a href="javascript:;" target="_blank" class="slider-theme__icon-link">
                        <span class="icon font-icon-twitter slider-theme__icon"></span>
                    </a>
                    <p class="slider-theme__description">Check This Free 
                        <a href="javascript:;" class="slider-theme__link">#Single</a>
                        <a href="javascript:;" class="slider-theme__link">#Page</a>
                        <a href="javascript:;" class="slider-theme__link">#XD_Theme</a>
                        “Themify” | Awesome Multipurpose Theme by @stevaricaf On 
                        <a href="javascript:;" class="slider-theme__link">#github</a>
                        <a href="javascript:;" class="slider-theme__link">https://stevaricaf.github.io</a>
                    </p>
                </div>
                <div class="swiper-slide slider-theme__slide">
                    <a href="javascript:;" target="_blank" class="slider-theme__icon-link">
                        <span class="icon font-icon-twitter slider-theme__icon"></span>
                    </a>
                    <p class="slider-theme__description">Check This Free 
                        <a href="javascript:;" class="slider-theme__link">#Single</a>
                        <a href="javascript:;" class="slider-theme__link">#Page</a>
                        <a href="javascript:;" class="slider-theme__link">#XD_Theme</a>
                        “Themify” | Awesome Multipurpose Theme by @stevaricaf On 
                        <a href="javascript:;" class="slider-theme__link">#github</a>
                        <a href="javascript:;" class="slider-theme__link">https://stevaricaf.github.io</a>
                    </p>
                </div>
                <div class="swiper-slide slider-theme__slide">
                    <a href="javascript:;" target="_blank" class="slider-theme__icon-link">
                        <span class="icon font-icon-twitter slider-theme__icon"></span>
                    </a>
                    <p class="slider-theme__description">Check This Free 
                        <a href="javascript:;" class="slider-theme__link">#Single</a>
                        <a href="javascript:;" class="slider-theme__link">#Page</a>
                        <a href="javascript:;" class="slider-theme__link">#XD_Theme</a>
                        “Themify” | Awesome Multipurpose Theme by @stevaricaf On 
                        <a href="javascript:;" class="slider-theme__link">#github</a>
                        <a href="javascript:;" class="slider-theme__link">https://stevaricaf.github.io</a>
                    </p>
                </div>
                <div class="swiper-slide slider-theme__slide">
                    <a href="javascript:;" target="_blank" class="slider-theme__icon-link">
                        <span class="icon font-icon-twitter slider-theme__icon"></span>
                    </a>
                    <p class="slider-theme__description">Check This Free 
                        <a href="javascript:;" class="slider-theme__link">#Single</a>
                        <a href="javascript:;" class="slider-theme__link">#Page</a>
                        <a href="javascript:;" class="slider-theme__link">#XD_Theme</a>
                        “Themify” | Awesome Multipurpose Theme by @stevaricaf On 
                        <a href="javascript:;" class="slider-theme__link">#github</a>
                        <a href="javascript:;" class="slider-theme__link">https://stevaricaf.github.io</a>
                    </p>
                </div>
            </div>
            <div class="swiper-pagination slider-theme-pagination"></div>
        </div>
    </div>
</section>